<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youthchina.dao.zhongyang.UserMapper">
    <resultMap id="User" type="com.youthchina.domain.zhongyang.User">
        <constructor>
            <idArg column="USER_ID" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </constructor>
        <result property="password" column="USER_PASS" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="USER_PHONE" property="phonenumber" jdbcType="VARCHAR"/>
        <result column="USER_REGIST_TIME" property="registerDate" jdbcType="TIMESTAMP"/>
        <result property="gender" column="USER_GENDER" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="USER_FIRST_NAME" property="firstName" jdbcType="VARCHAR"/>
        <result column="USER_LAST_NAME" property="lastName" jdbcType="VARCHAR"/>
        <result column="USER_MAIL" property="email" jdbcType="VARCHAR"/>
        <result column="USER_NATION" property="nation" jdbcType="VARCHAR"/>
        <result column="USER_PHOTO" property="avatarUrl" jdbcType="VARCHAR"/>
        <result column="USER_ON_JOB" property="isHired" jdbcType="INTEGER"/>
        <result column="MAIL_VERIFY" property="isMailVerified" jdbcType="INTEGER"/>
        <result column="PHONE_VERIFY" property="isPhoneVerified" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="userColumn">
        USER_PASS,
        USER_REGIST_TIME,
        USER_FIRST_NAME,
        USER_LAST_NAME,
        USER_GENDER,
        USER_NATION,
        USER_MAIL,
        USER_PHONE,
        USER_PHOTO,
        USER_LOCATION,
        USER_NICKNAME,
        USER_ON_JOB
    </sql>
    <sql id="active">
        SYS_USER.IS_DELETE = 0
    </sql>
    <select id="findOne" resultMap="User" parameterType="java.lang.Integer">
        SELECT USER_ID,
        <include refid="userColumn"/>,
        MAIL_VERIFY,
        PHONE_VERIFY
        FROM youthchina.SYS_USER
        WHERE SYS_USER.USER_ID = #{id, jdbcType=INTEGER} AND
        <include refid="active"/>
    </select>
    <insert id="insert" parameterType="com.youthchina.domain.zhongyang.User" useGeneratedKeys="true"
            keyProperty="id" keyColumn="USER_ID">

        INSERT INTO SYS_USER (
        <include refid="userColumn"/>
        )
        VALUES (#{password},
        #{registerDate},
        #{firstName},
        #{lastName},
        #{gender},
        #{nation},
        #{email},
        #{phonenumber},
        #{avatarUrl},
        110000,
        '',
        #{hired,jdbcType=BOOLEAN}
        )
    </insert>
    <select id="canRegister" parameterType="com.youthchina.domain.zhongyang.User" resultType="java.lang.Boolean">
        SELECT COUNT(*) = 0
        FROM youthchina.SYS_USER
        WHERE SYS_USER.USER_MAIL = #{email}
           OR SYS_USER.USER_PHONE = #{phonenumber}
    </select>
    <update id="delete" parameterType="java.lang.Integer">
        UPDATE SYS_USER
        SET IS_DELETE      = 1,
            IS_DELETE_TIME = NOW()
        WHERE SYS_USER.USER_ID = #{id}
          AND SYS_USER.IS_DELETE = 0
    </update>
    <update id="update" parameterType="com.youthchina.domain.zhongyang.User">
        UPDATE SYS_USER
        SET USER_PASS        = #{password},
            USER_REGIST_TIME = #{registerDate},
            USER_FIRST_NAME  = #{firstName},
            USER_LAST_NAME   = #{lastName},
            USER_GENDER      = #{gender},
            USER_NATION      = #{nation},
            USER_MAIL        = #{email},
            USER_PHONE       = #{phonenumber},
            USER_PHOTO       = #{avatarUrl},
            USER_NICKNAME    = '',
            USER_ON_JOB      = #{hired,jdbcType=INTEGER},
            MAIL_VERIFY      = #{isMailVerified,jdbcType=INTEGER},
            PHONE_VERIFY     = #{isPhoneVerified,jdbcType=INTEGER}
    </update>
    <select id="getRoles" resultType="com.youthchina.domain.zhongyang.Role" parameterType="java.lang.Integer">
        SELECT SYS_ROLE.ROLE_DESCRPTIPON
        FROM SYS_USER_ROLE
                 LEFT JOIN SYS_ROLE ON SYS_USER_ROLE.ROLE_ID = SYS_ROLE.ROLE_ID
        WHERE SYS_USER_ROLE.IS_DELETE = 0
          AND USER_ID = #{user_id}
    </select>
    <insert id="setRole">
        DELETE FROM SYS_USER_ROLE WHERE USER_ID = #{user_id} ;
        INSERT INTO SYS_USER_ROLE(USER_ID, ROLE_ID, STRAT_TIME)
        VALUES
        <foreach collection="roles" separator="," item="item">
            (#{user_id}, #{item.value}, NOW())
        </foreach>
    </insert>

</mapper>
