<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youthchina.dao.zhongyang.UserMapper">
    <resultMap id="User" type="com.youthchina.domain.zhongyang.User">
        <constructor>
            <idArg column="USER_ID" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </constructor>
        <result property="username" column="USER_NAME" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="password" column="USER_PASS" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="age" column="USER_AGE" javaType="java.lang.Integer"/>
        <result column="USER_PHONE" property="phonenumber" jdbcType="VARCHAR"/>
        <result column="USER_REGIST_TIME" property="registerDate" jdbcType="VARCHAR"/>
        <result column="USER_REAL_NAME" property="realName" jdbcType="VARCHAR"/>
        <result column="USER_NATION" property="nation" jdbcType="VARCHAR"/>
        <result column="USER_PHOTO" property="avatarUrl" jdbcType="VARCHAR"/>
        <result column="USER_MAIL" property="email" jdbcType="VARCHAR"/>
        <result property="gender" column="USER_GENDER" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="role" javaType="java.lang.Integer" column="ROLE_TYPE"/>
    </resultMap>
    <sql id="userColumn">
        USER_NAME,
        USER_PASS,
        USER_REGIST_TIME,
        USER_REAL_NAME,
        USER_GENDER,
        USER_AGE,
        USER_NATION,
        USER_MAIL,
        USER_PHONE,
        USER_PHOTO,
        USER_LOCATION,
        USER_NICKNAME,
        ROLE_ID,
        PERMI_ID,
        IS_DELETE,
        IS_DELETE_TIME
    </sql>
    <sql id="userTable">
        FROM
        SYS_USER
        JOIN
        SYS_USER_ROLE
        r
        on
        SYS_USER
        .
        ROLE_ID
        =
        r
        .
        ROLE_ID
        AND
        r
        .
        IS_DELETE
        =
        0
        JOIN
        SYS_ROLE_PERMISSION
        srp
        on
        SYS_USER
        .
        PERMI_ID
        =
        srp
        .
        PERMI_ID
        AND
        srp
        .
        IS_DELETE
        =
        0
    </sql>
    <sql id="active">
        SYS_USER
        .
        IS_DELETE
        =
        0
    </sql>
    <select id="findOne" resultMap="User" parameterType="java.lang.Integer">
        SELECT *
        <include refid="userTable"/>
        WHERE SYS_USER.USER_ID = #{id, jdbcType=INTEGER} AND
        <include refid="active"/>
    </select>
    <select id="findAll" parameterType="java.util.List" resultMap="User">
        SELECT *
        <include refid="userTable"/>
        WHERE SYS_USER.USER_ID IN
        <foreach item='id' index='index' collection="list" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>
    <insert id="insert" parameterType="com.youthchina.domain.zhongyang.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO SYS_USER (
        <include refid="userColumn"/>
        )
        VALUES (#{username},
        #{password},
        #{registerDate},
        #{realName},
        #{gender},
        #{age},
        #{nation},
        #{email},
        #{phonenumber},
        #{avatarUrl},
        0,
        '',
        #{role},
        1,
        0,
        NULL)
    </insert>
    <update id="delete" parameterType="java.lang.Integer">
        UPDATE SYS_USER
        SET IS_DELETE      = 1,
            IS_DELETE_TIME = NOW()
        WHERE SYS_USER.USER_ID = #{id}
    </update>
    <update id="update" parameterType="com.youthchina.domain.zhongyang.User">
        UPDATE SYS_USER
        SET USER_NAME        = #{username},
            USER_PASS        = #{password},
            USER_REGIST_TIME = #{registerDate},
            USER_REAL_NAME   = #{realName},
            USER_GENDER      = #{gender},
            USER_AGE         = #{age},
            USER_NATION      = #{nation},
            USER_MAIL        = #{email},
            USER_PHONE       = #{phonenumber},
            USER_PHOTO       = #{avatarUrl},
            USER_LOCATION    = 0,
            USER_NICKNAME    = '',
            ROLE_ID          = #{role},
            PERMI_ID         = 1,
            IS_DELETE        = 0,
            IS_DELETE_TIME   = NULL

    </update>

</mapper>
