<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youthchina.dao.Qinghong.InvitationMapper">
    <resultMap id="ResumeResultMap" type="com.youthchina.domain.Qinghong.Resume">
        <id property="id" column="RESUME_ID"/>

        <association property="BaseInfo" javaType="com.youthchina.domain.Qinghong.BaseInfo">
            <id property="stu_id" column="STU_ID"/>
            <result property="stu_in_job" column="STU_IN_JOB"/>
            <result property="stu_in_job_comp" column="stu_in_job_comp"/>
        </association>
        <collection property="educationInfos"  ofType="com.youthchina.domain.Qinghong.EducationInfo">
            <id property="edu_id" column="EDU_ID"/>
            <result property="edu_degree" column="EDU_DEGREE"/>
            <result property="edu_school" column="edu_school"/>
            <result property="edu_school_country" column="EDU_SCHOOL_COUNTRY"/>
            <result property="edu_school_location" column="EDU_SCHOOL_LOCATION"/>
            <result property="edu_major" column="EDU_MAJOR"/>
            <result property="edu_college" column="EDU_COLLEGE"/>
            <result property="edu_gpa" column="EDU_GPA"/>
            <result property="edu_start" column="EDU_START"/>
            <result property="edu_end" column="edu_end"/>
        </collection>
        <collection property="works" ofType="com.youthchina.domain.Qinghong.Work">
            <id property="work_id" column="WORK_ID"/>
            <result property="work_company" column="WORK_COMPANY"/>
            <result property="work_position" column="WORK_POSITION"/>
            <result property="work_location" column="WORK_LOCATION"/>
            <result property="work_sector" column="WORK_SECTOR"/>
            <result property="work_start_time" column="WORK_START_TIME"/>
            <result property="work_end_time" column="WORK_END_TIME"/>
            <result property="work_duty" column="WORK_DUTY"/>
            <result property="WORK_NATURE" column="WORK_NATURE"/>
        </collection>
    </resultMap>



    <select id="selectResumeById" resultMap="ResumeResultMap">
        select R.*,B.*,E.*,W.*
        from RESUME R,STU_INFO B,STU_EDU_INFO E,STU_WORK W
        where B.STU_ID=R.RESUME_ID and E.EDU_ID=
    </select>

    <insert id="insertBaseInfo" useGeneratedKeys="true" keyProperty="STU_ID">
        insert into STU_INFO(STU_IN_JOB,STU_IN_JOB_COMP)
        values (#{stu_id_job},#{stu_in_job_comp})
    </insert>
    <insert id="insertEducationInfo" useGeneratedKeys="true" keyProperty="EDU_ID">
        insert into STU_EDU_INFO(EDU_DEGREE,EDU_SCHOOL,EDU_SCHOOL_COUNTRY,EDU_SCHOOL_LOCATION,EDU_MAJOR,EDU_COLLEGE,EDU_GPA,EDU_START,EDU_END)
        values (#{edu_degree},#{edu_school},#{edu_school_country},#{edu_school_location},#{edu_major},#{edu_college},#{edu_gpa},#{edu_start},#{edu_end})
    </insert>
    <insert id="insertWork" useGeneratedKeys="true" keyProperty="WORK_ID">
        insert into STU_WORK(WORK_COMPANY,WORK_LOCATION,WORK_POSITION,WORK_SECTOR,WORK_START_TIME,WORK_END_TIME,WORK_DUTY,WORK_NATURE)
        values (#(work_company),#{work_location},#{work_position},#{work_sector},#{work_start_time},#{work_end_time},#{work_duty},#{work_nature})
    </insert>

    <update id="updateBaseInfo">
        update STU_INFO set
        STU_IN_JOB=#{stu_id_job},
        STU_IN_JOB_COMP=#{stu_in_job_comp}
        where STU_ID=#{stu_id}
    </update>
    <update id="updateEducationInfo">
        update STU_EDU_INFO set
        EDU_DEGREE=#{edu_degree},
        EDU_SCHOOL=#{edu_school},
        EDU_SCHOOL_COUNTRY=#{edu_school_country},
        EDU_SCHOOL_LOCATION=#{edu_school_location},
        EDU_MAJOR=#{edu_major},
        EDU_COLLEGE=#{edu_college},
        EDU_GPA=#{edu_gpa},
        EDU_START=#{edu_start},
        EDU_END=#{edu_end}
        where EDU_ID=#{edu_id}
    </update>
    <update id="updateWork">
       pdate STU_WORK set
       WORK_COMPANY =#(work_company),
       WORK_LOCATION=#{work_location},
       WORK_POSITION=#{work_position},
       WORK_SECTOR=#{work_sector},
       WORK_START_TIME=#{work_start_time},
       WORK_END_TIME=#{work_end_time},
       WORK_DUTY=#{work_duty},
       WORK_NATURE=#{work_nature},
       where WORK_ID=#{work_id}
    </update>

    <delete id="deleteBaseInfo">
        delete from STU_INFO where STU_ID=#{stu_id}
    </delete>
    <delete id="deleteEducationInfo">
        delete from STU_EDU_INFO where EDU_ID=#{edu_id}
    </delete>
    <delete id="deleteWork">
        delete from STU_WORK where WORK_ID=#{work_id}
    </delete>
</mapper>