<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youthchina.dao.qingyang.CompanyMapper">
    <!--Company CURD-->
    <insert id="insertCompany" parameterType="com.youthchina.domain.qingyang.Company"
            useGeneratedKeys="true" keyProperty="companyId">
        INSERT INTO COMPANY_INFO
        (   COMPANY_NAME,       COMPANY_CODE,     COMPANY_COUNTRY,
            COMPANY_INTRODUC,   COMPANY_SCALE_NUM,  COMPANY_NATURE,   COMPANY_LOCATION,
            COMPANY_MAIL,       COMPANY_WEBSITE,  COMPANY_START_DATE,
            COMPANY_LOGO,       COMPANY_VERIFY,     USER_ID,     ADD_TIME,     IS_DELETE,
            IS_DELETE_TIME)
        VALUES
        (   #{companyName},     #{companyCode},   #{country.countryAbbre},
            #{companyIntroduc}, #{companyScale.scaleNum}, #{companyNature.natureNum},   #{location.region_num},
            #{companyMail},     #{companyWebsite}, #{companyStartDate},
            #{companyLogo},     #{companyVerify},   #{userId},   NOW(),       0,
            NULL)
    </insert>

    <update id="updateCompany" parameterType="com.youthchina.domain.qingyang.Company"
            keyProperty="companyId">
        UPDATE COMPANY_INFO
        SET
            COMPANY_NAME = #{companyName},
            COMPANY_CODE = #{companyCode},
            COMPANY_COUNTRY = #{country.countryAbbre},
            COMPANY_INTRODUC = #{companyIntroduc},
            COMPANY_SCALE_NUM = #{companyScale.scaleNum},
            COMPANY_NATURE = #{companyNature.natureNum},
            COMPANY_LOCATION = #{location.region_num},
            COMPANY_MAIL = #{companyMail},
            COMPANY_WEBSITE = #{companyWebsite},
            COMPANY_START_DATE = #{companyStartDate},
            COMPANY_LOGO = #{companyLogo},
            COMPANY_VERIFY = #{companyVerify},
            USER_ID = #{userId}
        WHERE
            COMPANY_ID = #{companyId}
          AND IS_DELETE = 0
    </update>

    <update id="deleteCompany" parameterType="java.lang.Integer">
        UPDATE COMPANY_INFO         SET IS_DELETE = 1, IS_DELETE_TIME = NOW()
        WHERE COMPANY_ID = #{id}
    </update>

    <resultMap id="company" type="com.youthchina.domain.qingyang.Company">
        <id property="companyId" column="COMPANY_ID"/>
        <result property="companyName" column="COMPANY_NAME"/>
        <result property="companyCode" column="COMPANY_CODE"/>
        <result property="companyIntroduc" column="COMPANY_INTRODUC"/>
        <result property="companyMail" column="COMPANY_MAIL"/>
        <result property="companyWebsite" column="COMPANY_WEBSITE"/>
        <result property="companyStartDate" column="COMPANY_START_DATE"/>
        <result property="companyLogo" column="COMPANY_LOGO"/>
        <result property="companyVerify" column="COMPANY_VERIFY"/>
        <result property="userId" column="USER_ID"/>
        <result property="addTime" column="COMPANY_ADD_TIME"/>
        <result property="collectNum" column="COMPANY_COLLECT_NUM"/>
        <association property="companyNature" javaType="com.youthchina.domain.qingyang.CompanyNature">
            <id property="natureNum" column="NATURE_NUM"/>
            <result property="natureChn" column="NATURE_CHN"/>
            <result property="natureEng" column="NATURE_ENG"/>
            <result property="natureDetail" column="NATURE_DETAIL"/>
            <result property="startTime" column="NATURE_START_TIME"/>
        </association>
        <association property="companyScale" javaType="com.youthchina.domain.qingyang.CompanyScale">
            <id property="scaleNum" column="SCALE_NUM"/>
            <result property="scaleChn" column="SCALE_CHN"/>
            <result property="scaleEng" column="SCALE_ENG"/>
            <result property="startTime" column="SCALE_START_TIME"/>
        </association>
        <association property="country" javaType="com.youthchina.domain.qingyang.Country">
            <id property="countryAbbre" column="COUNTRY_ABBRE"/>
            <result property="countryChn" column="COUNTRY_CHN"/>
            <result property="countryEng" column="COUNTRY_ENG"/>
            <result property="startTime" column="COUNTRY_START_TIME"/>
        </association>
        <association property="location" javaType="com.youthchina.domain.Qinghong.Location">
            <id property="region_num" column="REGION_NUM"/>
            <!--<result property="region_chn" column="REGION_CHN"/>-->
            <!--<result property="region_eng" column="REGION_ENG"/>-->
            <!--<result property="region_level" column="REGION_LEVEL"/>-->
            <!--<result property="region_parent_num" column="REGION_PARENT_NUM"/>-->
            <!--<result property="start_time" column="REGION_START_TIME"/>-->
        </association>
        <collection property="indList" ofType="com.youthchina.domain.qingyang.Industry">
            <id property="indNum" column="C_IND_NUM"/>
            <result property="indCode" column="IND_CODE"/>
            <result property="indChn" column="IND_CHN"/>
            <result property="indEng" column="IND_ENG"/>
            <result property="indLevel" column="IND_LEVEL"/>
            <result property="indParentCode" column="IND_PARENT_CODE"/>
            <result property="startTime" column="START_TIME"/>
            <result property="companyId" column="COMPANY_ID"/>
        </collection>
        <collection property="verificationList" ofType="com.youthchina.domain.qingyang.CompanyVerification">
            <id property="verifyId" column="VERIFY_ID"/>
            <result property="verifyTime" column="VERIFY_TIME"/>
            <result property="verifyEndTime" column="VERIFY_END_TIME"/>
            <result property="operUserId" column="OPER_USER_ID"/>
        </collection>
    </resultMap>

    <sql id="companySelect">
              com.COMPANY_ID as COMPANY_ID,
              com.COMPANY_NAME as COMPANY_NAME,
              com.COMPANY_CODE as COMPANY_CODE,
              com.COMPANY_INTRODUC as COMPANY_INTRODUC,
              com.COMPANY_MAIL as COMPANY_MAIL,
              com.COMPANY_WEBSITE as COMPANY_WEBSITE,
              com.COMPANY_START_DATE as COMPANY_START_DATE,
              com.COMPANY_LOGO as COMPANY_LOGO,
              com.COMPANY_VERIFY as COMPANY_VERIFY,
              com.ADD_TIME as COMPANY_ADD_TIME,
              com.USER_ID as USER_ID,
              com.COMPANY_LOCATION as REGION_NUM,

              v.VERIFY_ID as VERIFY_ID,
              v.VERIFY_TIME as VERIFY_TIME,
              v.VERIFY_END_TIME as VERIFY_END_TIME,
              v.OPER_USER_ID as OPER_USER_ID,

              i.COMPANY_IND_CODE as COMPANY_IND_CODE,

              class.IND_NUM as C_IND_NUM,
              class.IND_CODE as IND_CODE,
              class.IND_CHN as IND_CHN,
              class.IND_ENG as IND_ENG,
              class.IND_LEVEL as IND_LEVEL,
              class.IND_PARENT_CODE as IND_PARENT_CODE,
              class.START_TIME as START_TIME,

              nature.NATURE_NUM as NATURE_NUM,
              nature.NATURE_CHN as NATURE_CHN,
              nature.NATURE_ENG as NATURE_ENG,
              nature.NATURE_DETAIL as NATURE_DETAIL,
              nature.START_TIME as NATURE_START_TIME,

              scale.SCALE_NUM as SCALE_NUM,
              scale.SCALE_CHN as SCALE_CHN,
              scale.SCALE_ENG as SCALE_ENG,
              scale.START_TIME as SCALE_START_TIME,

              country.COUNTRY_ABBRE as COUNTRY_ABBRE,
              country.COUNTRY_CHN as COUNTRY_CHN,
              country.COUNTRY_ENG as COUNTRY_ENG,
              country.START_TIME as COUNTRY_START_TIME,

              COUNT(collect.COLLECT_ID) as COMPANY_COLLECT_NUM

#               region.REGION_NUM as REGION_NUM,
#               region.REGION_CHN as REGION_CHN,
#               region.REGION_ENG as REGION_ENG,
#               region.REGION_LEVEL as REGION_LEVEL,
#               region.REGION_PARENT_NUM as REGION_PARENT_NUM,
#               region.START_TIME as REGION_START_TIME
    </sql>

    <sql id="companyJoin">
        LEFT OUTER JOIN COMPANY_VERIFICAITON v ON v.COMPANY_ID = com.COMPANY_ID AND com.IS_DELETE = 0 AND v.IS_DELETE = 0
                 LEFT OUTER JOIN COMPANY_INDUSTRY i ON i.COMPANY_ID = com.COMPANY_ID AND i.IS_DELETE = 0
                 LEFT OUTER JOIN SYS_IND_CLASS	class ON class.IND_CODE = i.COMPANY_IND_CODE AND class.IS_DELETE = 0
                 LEFT OUTER JOIN SYS_COMPANY_NATURE	nature ON com.COMPANY_NATURE = nature.NATURE_NUM
                 LEFT OUTER JOIN SYS_COMPANY_SCALE	scale ON com.COMPANY_SCALE_NUM = scale.SCALE_NUM
                 LEFT OUTER JOIN SYS_COUNTRY	country ON com.COMPANY_COUNTRY = country.COUNTRY_ABBRE AND country.IS_DELETE = 0
                 LEFT OUTER JOIN SYS_CHN_REGION	region ON com.COMPANY_LOCATION = region.REGION_NUM AND region.IS_DELETE = 0
                 LEFT OUTER JOIN STU_COMP_COLLECT collect ON collect.COMPANY_ID = com.COMPANY_ID AND collect.IS_DELETE = 0 GROUP BY com.COMPANY_ID
    </sql>

    <select id="selectCompany" resultMap="company" parameterType="java.lang.Integer">
        SELECT
            <include refid="companySelect"/>
        FROM COMPANY_INFO com
            <include refid="companyJoin"/>
        WHERE
            com.COMPANY_ID = #{id}
    </select>

    <select id="selectCompanyByName" resultMap="company" parameterType="java.lang.String">
        SELECT
        <include refid="companySelect"/>
        FROM COMPANY_INFO com
        <include refid="companyJoin"/>
        WHERE
        com.COMPANY_NAME like "%"#{comName}"%"
    </select>

    <select id="selectCompanyByIdList" parameterType="java.util.List" resultMap="company" >
        SELECT
            <include refid="companySelect"/>
        FROM COMPANY_INFO com
            <include refid="companyJoin"/>
        WHERE com.COMPANY_ID in
            <foreach item='id' index='index' collection="list" separator="," open="(" close=")">
                #{id}
            </foreach>
    </select>



    <!--CompanyVerification CURD-->
    <resultMap id="CompanyVerification" type="com.youthchina.domain.qingyang.CompanyVerification">
        <id property="verifyId" column="VERIFY_ID"/>
        <result property="verifyTime" column="VERIFY_TIME"/>
        <result property="verifyEndTime" column="VERIFY_END_TIME"/>
        <result property="operUserId" column="OPER_USER_ID"/>
        <result property="companyId" column="COMPANY_ID"/>
    </resultMap>

    <insert id="insertCompanyVerification" parameterType="com.youthchina.domain.qingyang.CompanyVerification"
            useGeneratedKeys="true" keyProperty="verifyId">
        INSERT INTO COMPANY_VERIFICAITON
        (   VERIFY_TIME,   VERIFY_END_TIME,    OPER_USER_ID,
            COMPANY_ID,   IS_DELETE, IS_DELETE_TIME)
        VALUES
        (
            #{verifyTime},  #{verifyEndTime},   #{operUserId},
            #{companyId}, 0, NULL)
    </insert>

    <update id="updateCompanyVerification" parameterType="com.youthchina.domain.qingyang.CompanyVerification"
            keyProperty="verifyId">
        UPDATE COMPANY_VERIFICAITON
        SET
            VERIFY_TIME = #{verifyTime},
            VERIFY_END_TIME = #{verifyEndTime},
            OPER_USER_ID = #{operUserId},
            COMPANY_ID = #{companyId}
        WHERE
            VERIFY_ID = #{verifyId}
        AND IS_DELETE = 0
    </update>

    <update id="deleteCompanyVerification" parameterType="java.lang.Integer">
      UPDATE COMPANY_VERIFICAITON SET IS_DELETE = 1, IS_DELETE_TIME = NOW()
      WHERE VERIFY_ID = #{verifyId}
    </update>

    <select id="selectCompanyVerification" resultMap="CompanyVerification"
            parameterType="java.lang.Integer">
        SELECT
            VERIFY_ID,    VERIFY_TIME,   VERIFY_END_TIME,    OPER_USER_ID,
            COMPANY_ID
        FROM COMPANY_VERIFICAITON
        WHERE
            VERIFY_ID = #{id}
        AND IS_DELETE = 0
    </select>

    <select id="selectCompanyVerificationByIdList" parameterType="java.util.List" resultMap="CompanyVerification">
        SELECT
          VERIFY_ID,    VERIFY_TIME,   VERIFY_END_TIME,    OPER_USER_ID,
          COMPANY_ID
        FROM COMPANY_VERIFICAITON
        WHERE VERIFY_ID in
        <foreach item='id' index='index' collection="list" separator="," open="(" close=")">
            #{id}
        </foreach>
        AND IS_DELETE = 0
    </select>

    <!--Industry CURD-->
    <resultMap id="Industry" type="com.youthchina.domain.qingyang.Industry">
        <result property="indNum" column="IND_NUM" javaType="java.lang.Integer"/>
        <result property="indCode" column="IND_CODE" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="indChn" column="IND_CHN" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="indEng" column="IND_ENG" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="indLevel" column="IND_LEVEL" javaType="java.lang.Integer"/>
        <result property="indParentCode" column="IND_PARENT_CODE" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="startTime" column="START_TIME" javaType="java.sql.Timestamp"/>
    </resultMap>

    <insert id="insertIndustry" parameterType="com.youthchina.domain.qingyang.Industry"
            useGeneratedKeys="true" keyProperty="indNum">
        INSERT INTO SYS_IND_CLASS
        (   IND_CODE, IND_CHN,   IND_ENG,    IND_LEVEL,
            IND_PARENT_CODE,   START_TIME, IS_DELETE, IS_DELETE_TIME)
        VALUES
        (
            #{indCode},  #{indChn},   #{indEng},  #{indLevel},
            #{indParentCode},  #{startTime}, 0, NULL
        )
    </insert>

    <update id="updateIndustry" parameterType="com.youthchina.domain.qingyang.Industry"
            keyProperty="indNum">
        UPDATE SYS_IND_CLASS
        SET
            IND_CODE = #{indCode},
            IND_CHN = #{indChn},
            IND_ENG = #{indEng},
            IND_LEVEL = #{indLevel},
            IND_PARENT_CODE = #{indParentCode},
            START_TIME = #{startTime}
        WHERE
            IND_NUM = #{indNum}
        AND IS_DELETE = 0
    </update>

    <update id="deleteIndustry" parameterType="java.lang.Integer">
      UPDATE SYS_IND_CLASS SET IS_DELETE = 1, IS_DELETE_TIME = NOW()
      WHERE IND_NUM = #{id}
    </update>

    <select id="selectIndustry" resultMap="Industry"
            parameterType="java.lang.Integer">
        SELECT
            IND_NUM,    IND_CODE, IND_CHN,   IND_ENG,    IND_LEVEL,
            IND_PARENT_CODE,   START_TIME
        FROM SYS_IND_CLASS
        WHERE
            IND_NUM = #{id, jdbcType=INTEGER}
        AND IS_DELETE = 0
    </select>

    <select id="selectIndustryByIdList" parameterType="java.util.List" resultMap="Industry">
        SELECT
            IND_NUM,    IND_CHN,   IND_ENG,    IND_LEVEL,
            IND_PARENT_CODE,   START_TIME
        FROM SYS_IND_CLASS
        WHERE IND_NUM in
        <foreach item='id' index='index' collection="list" separator="," open="(" close=")">
            #{id}
        </foreach>
        AND IS_DELETE = 0
    </select>


    <!--CompanyIndustry CURD-->
    <!--insert Company's Industries By Company's List of Industry-->
    <insert id="insertCompanyInd" useGeneratedKeys="true" keyProperty="companyIndusId">
        INSERT INTO COMPANY_INDUSTRY
        (   COMPANY_IND_CODE,   COMPANY_ID, IS_DELETE, IS_DELETE_TIME)
        VALUES
          <foreach item="ind" collection="list" separator=",">
            (#{ind.indCode}, #{ind.companyId}, 0, NULL)
          </foreach>
    </insert>

    <!--delete Company's Industries By CompanyID-->
    <update id="deleteCompanyInd" parameterType="java.lang.Integer">
      UPDATE COMPANY_INDUSTRY SET IS_DELETE = 1, IS_DELETE_TIME = NOW()
      WHERE COMPANY_ID = #{id}
    </update>

    <!--delete Company's Employees By CompanyID-->
    <update id="deleteCompanyEmployee" parameterType="java.lang.Integer">
        UPDATE COMPANY_EMPLOYEE SET IS_DELETE = 1, IS_DELETE_TIME = NOW()
        WHERE COMPANY_ID = #{id}
    </update>

    <!--delete Company's Verifications By VerificationID-->
    <update id="deleteCompanyVerificationById" parameterType="java.lang.Integer">
        UPDATE COMPANY_VERIFICAITON SET IS_DELETE = 1, IS_DELETE_TIME = NOW()
        WHERE COMPANY_ID = #{id}
    </update>

    <!--delete Company's Verifications By CompanyID-->
    <update id="deleteCompanyVerificationByComId" parameterType="java.lang.Integer">
        UPDATE COMPANY_VERIFICAITON SET IS_DELETE = 1, IS_DELETE_TIME = NOW()
        WHERE COMPANY_ID = #{id}
    </update>

    <!--delete Company's Photos By CompanyID-->
    <update id="deleteCompanyPhoto" parameterType="java.lang.Integer">
        UPDATE COMPANY_PHOTO SET IS_DELETE = 1, IS_DELETE_TIME = NOW()
        WHERE COMPANY_ID = #{id}
    </update>

    <!--delete Company's Evaluations By CompanyID-->
    <update id="deleteCompanyEvaluate" parameterType="java.lang.Integer">
        UPDATE COMPANY_EVALUATE SET IS_DELETE = 1, IS_DELETE_TIME = NOW()
        WHERE COMPANY_ID = #{id}
    </update>

    <!--delete Students' Collections of Company By CompanyID-->
    <update id="deleteStudentComCollection" parameterType="java.lang.Integer">
        UPDATE STU_COMP_COLLECT SET IS_DELETE = 1, IS_DELETE_TIME = NOW()
        WHERE COMPANY_ID = #{id}
    </update>












</mapper>
