<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youthchina.dao.qingyang.JobHrMapper">


    <insert id="insertJob" parameterType="com.youthchina.domain.qingyang.Job_qingyang"
            useGeneratedKeys="true" keyProperty="jobId">
        INSERT INTO JOB_INFO
        (   JOB_ID,         COMPANY_ID,     HR_ID,        JOB_NAME,     JOB_PROF_NUM,
            JOB_START_TIME, JOB_END_TIME,   JOB_TIME,     JOB_DESCRIPTION,
            JOB_DUTY,       JOB_REQ,        JOB_HIGHLIGHT,
            JOB_SALARY,     CV_RECEI_MAIL,  CV_NAME_RULE, JOB_ACTIVE, IS_DELETE)
        VALUES
        (
            #{jobId},       #{companyId},   #(hrId),        #{jobName},   #{jobProfNum},
            #{jobStartTime},#{jobEndTime},  #{jobTime},     #{jobDescription},
            #{jobDuty},     #{jobReq},      #{jobHighlight},
            #{jobSalary},   #{cvReceiMail}, #{cvNameRule},  #{jobActive}, #{isDelete}
        )
    </insert>

    <update id="updateJob" parameterType="com.youthchina.domain.qingyang.Job_qingyang"
            useGeneratedKeys="true" keyProperty="jobId">
        UPDATE JOB_INFO
        SET
            COMPANY_ID = #{companyId},
            HR_ID = #{hrId},
            JOB_NAME = #{jobName},
            JOB_PROF_NUM = #{jobProfNum},
            JOB_START_TIME = #{jobStartTime},
            JOB_END_TIME = #{jobEndTime},
            JOB_TIME = #{jobTime},
            JOB_DESCRIPTION = #{jobDescription},
            JOB_DUTY = #{jobDuty},
            JOB_REQ = #{jobReq},
            JOB_HIGHLIGHT = #{jobHighlight},
            JOB_SALARY = #{jobSalary},
            CV_RECEI_MAIL = #{cvReceiMail},
            CV_NAME_RULE = #{cvNameRule},
            JOB_ACTIVE = #{jobActive}
        WHERE
            JOB_ID = #{jobId}
        AND IS_DELETE = 0
    </update>

    <update id="deleteJobByID" parameterType="java.lang.Integer">
      UPDATE JOB_INFO j SET j.IS_DELETE = 1, j.IS_DELETE_TIME = NOW()
      WHERE j.JOB_ID = #{jobId};
      UPDATE JOB_INDUSTRY i SET i.IS_DELETE = 1, i.IS_DELETE_TIME = NOW()
      WHERE i.JOB_ID = #{jobId};
      UPDATE STU_JOB_COLLECT co SET co.IS_DELETE = 1, co.IS_DELETE_TIME = NOW()
      WHERE co.JOB_ID = #{jobId};
      UPDATE STU_JOB_APPLY a SET a.IS_DELETE = 1, a.IS_DELETE_TIME = NOW()
      WHERE a.JOB_ID = #{jobId};
      UPDATE JOB_LOCATION loc SET loc.IS_DELETE = 1, loc.IS_DELETE_TIME = NOW()
      WHERE loc.JOB_ID = #{jobId}
    </update>


    <resultMap id="job" type="com.youthchina.domain.qingyang.Job_qingyang">
        <id property="jobId" column="JOB_ID"/>
        <result property="jobName" column="JOB_NAME"/>
        <result property="jobProfNum" column="JOB_PROF_NUM"/>
        <result property="jobStartTime" column="JOB_START_TIME"/>
        <result property="jobEndTime" column="JOB_END_TIME"/>
        <result property="jobTime" column="JOB_TIME"/>
        <result property="jobDescription" column="JOB_DESCRIPTION"/>
        <result property="jobDuty" column="JOB_DUTY"/>
        <result property="jobReq" column="JOB_REQ"/>
        <result property="jobHighlight" column="JOB_HIGHLIGHT"/>
        <result property="jobSalary" column="JOB_SALARY"/>
        <result property="cvReceiMail" column="CV_RECEI_MAIL"/>
        <result property="cvNameRule" column="CV_NAME_RULE"/>
        <result property="jobActive" column="JOB_ACTIVE"/>
        <association property="company" javaType="com.youthchina.domain.qingyang.Company_qingyang">
            <id property="company_id" column="COMPANY_ID"/>
            <result property="companyName" column="COMPANY_NAME"/>
            <result property="companyScaleNum" column="COMPANY_SCALE_NUM"/>
            <result property="companyLogo" column="COMPANY_LOGO"/>
        </association>
        <association property="hr" javaType="com.youthchina.domain.qingyang.Hr_qingyang">
            <id property="hrId" column="HR_ID"/>
        </association>
        <collection property="jobLocationList" ofType="com.youthchina.domain.qingyang.JobLocation">
            <id property="jobRegionId" column="JOB_REGION_ID"/>
            <result property="jobRegionNum" column="JOB_REGION_NUM"/>
        </collection>
    </resultMap>

    <resultMap id="jobListMap" type="java.util.HashMap">
        <collection property="job">
            <id property="indName" column="IND_NAME"/>
        </collection>
    </resultMap>

    <!--职位详情页, 含公司和HR信息-->
    <select id="getJobByJobId" resultMap="job" parameterType="java.lang.Integer">
        SELECT
            j.JOB_ID as JOB_ID,
            j.JOB_NAME as JOB_NAME,
            j.JOB_PROF_NUM as JOB_PROF_NUM,
            j.JOB_START_TIME as JOB_START_TIME,
            j.JOB_END_TIME as JOB_END_TIME,
            j.JOB_TIME as JOB_TIME,
            j.JOB_DESCRIPTION as JOB_DESCRIPTION,
            j.JOB_DUTY as JOB_DUTY,
            j.JOB_REQ as JOB_REQ,
            j.JOB_HIGHLIGHT as JOB_HIGHLIGHT,
            j.JOB_SALARY as JOB_SALARY,
            j.CV_RECEI_MAIL as CV_RECEI_MAIL,
            j.CV_NAME_RULE as CV_NAME_RULE,
            j.JOB_ACTIVE as JOB_ACTIVE,
            j.HR_ID as HR_ID,
            j.COMPANY_ID as COMPANY_ID,
            com.COMPANY_NAME as COMPANY_NAME,
            com.COMPANY_SCALE_NUM as COMPANY_SCALE_NUM,
            com.COMPANY_LOGO as COMPANY_LOGO,
            loc.JOB_REGION_ID as JOB_REGION_ID,
            loc.JOB_REGION_NUM as JOB_REGION_NUM
        FROM JOB_INFO j
             LEFT OUTER JOIN HR_INFO h ON j.HR_ID = h.HR_ID
             LEFT OUTER JOIN COMPANY_INFO com ON j.COMPANY_ID = com.COMPANY_ID
             LEFT OUTER JOIN JOB_LOCATION loc ON loc.JOB_ID = j.JOB_ID
        WHERE
            j.JOB_ID = #{jobId}
        AND j.IS_DELETE = 0 AND com.IS_DELETE = 0 AND h.IS_DELETE = 0
    </select>


    <!--按行业Id的List查询Job的List, 中文名做返回的Map的Key-->
    <select id="selectByIndustryId" resultMap="jobListMap">
        SELECT
        class.IND_CHN as IND_NAME,
        j.JOB_ID as JOB_ID,
        j.JOB_NAME as JOB_NAME,
        j.JOB_PROF_NUM as JOB_PROF_NUM,
        j.JOB_START_TIME as JOB_START_TIME,
        j.JOB_END_TIME as JOB_END_TIME,
        j.JOB_TIME as JOB_TIME,
        j.JOB_DESCRIPTION as JOB_DESCRIPTION,
        j.JOB_DUTY as JOB_DUTY,
        j.JOB_REQ as JOB_REQ,
        j.JOB_HIGHLIGHT as JOB_HIGHLIGHT,
        j.JOB_SALARY as JOB_SALARY,
        j.CV_RECEI_MAIL as CV_RECEI_MAIL,
        j.CV_NAME_RULE as CV_NAME_RULE,
        j.JOB_ACTIVE as JOB_ACTIVE,
        j.HR_ID as HR_ID,
        j.COMPANY_ID as COMPANY_ID,
        com.COMPANY_NAME as COMPANY_NAME,
        com.COMPANY_SCALE_NUM as COMPANY_SCALE_NUM,
        com.COMPANY_LOGO as COMPANY_LOGO,
        loc.JOB_REGION_ID as JOB_REGION_ID,
        loc.JOB_REGION_NUM as JOB_REGION_NUM
        FROM SYS_IND_CLASS class
        LEFT OUTER JOIN JOB_INDUSTRY ind ON class.IND_NUM = ind.JOB_IND_NUM
        LEFT OUTER JOIN JOB_INFO j ON ind.JOB_ID = j.JOB_ID
        LEFT OUTER JOIN HR_INFO h ON j.HR_ID = h.HR_ID
        LEFT OUTER JOIN COMPANY_INFO com ON j.COMPANY_ID = com.COMPANY_ID
        LEFT OUTER JOIN JOB_LOCATION loc ON loc.JOB_ID = j.JOB_ID

        WHERE class.IND_NUM in
        <foreach item="id" collection="indIds" index="index" separator=",">
            #{id}
        </foreach>
        AND class.IS_DELETE = 0 AND ind.IS_DELETE = 0
        AND j.IS_DELETE = 0 AND com.IS_DELETE = 0 AND h.IS_DELETE = 0 AND loc.IS_DELETE = 0
    </select>

    <!--按行业名称的List查询Job的List, 中文名做返回的Map的Key-->
    <select id="selectByIndustryString" resultMap="jobListMap">
        SELECT
            class.IND_CHN as IND_NAME,
            j.JOB_ID as JOB_ID,
            j.JOB_NAME as JOB_NAME,
            j.JOB_PROF_NUM as JOB_PROF_NUM,
            j.JOB_START_TIME as JOB_START_TIME,
            j.JOB_END_TIME as JOB_END_TIME,
            j.JOB_TIME as JOB_TIME,
            j.JOB_DESCRIPTION as JOB_DESCRIPTION,
            j.JOB_DUTY as JOB_DUTY,
            j.JOB_REQ as JOB_REQ,
            j.JOB_HIGHLIGHT as JOB_HIGHLIGHT,
            j.JOB_SALARY as JOB_SALARY,
            j.CV_RECEI_MAIL as CV_RECEI_MAIL,
            j.CV_NAME_RULE as CV_NAME_RULE,
            j.JOB_ACTIVE as JOB_ACTIVE,
            j.HR_ID as HR_ID,
            j.COMPANY_ID as COMPANY_ID,
            com.COMPANY_NAME as COMPANY_NAME,
            com.COMPANY_SCALE_NUM as COMPANY_SCALE_NUM,
            com.COMPANY_LOGO as COMPANY_LOGO,
            loc.JOB_REGION_ID as JOB_REGION_ID,
            loc.JOB_REGION_NUM as JOB_REGION_NUM
        FROM SYS_IND_CLASS class
        LEFT OUTER JOIN JOB_INDUSTRY ind ON class.IND_NUM = ind.JOB_IND_NUM
        LEFT OUTER JOIN JOB_INFO j ON ind.JOB_ID = j.JOB_ID
        LEFT OUTER JOIN HR_INFO h ON j.HR_ID = h.HR_ID
        LEFT OUTER JOIN COMPANY_INFO com ON j.COMPANY_ID = com.COMPANY_ID
        LEFT OUTER JOIN JOB_LOCATION loc ON loc.JOB_ID = j.JOB_ID

        WHERE class.IND_CHN OR class.IND_ENG in
            <foreach item="industry" collection="industries" index="index" separator=",">
                    #{industry}
            </foreach>
        AND class.IS_DELETE = 0 AND ind.IS_DELETE = 0
        AND j.IS_DELETE = 0 AND com.IS_DELETE = 0 AND h.IS_DELETE = 0 AND loc.IS_DELETE = 0
    </select>


    <select id="getJobByMore" resultMap="job">
        SELECT
        j.JOB_ID as JOB_ID,
        j.JOB_NAME as JOB_NAME,
        j.JOB_PROF_NUM as JOB_PROF_NUM,
        j.JOB_START_TIME as JOB_START_TIME,
        j.JOB_END_TIME as JOB_END_TIME,
        j.JOB_TIME as JOB_TIME,
        j.JOB_DESCRIPTION as JOB_DESCRIPTION,
        j.JOB_DUTY as JOB_DUTY,
        j.JOB_REQ as JOB_REQ,
        j.JOB_HIGHLIGHT as JOB_HIGHLIGHT,
        j.JOB_SALARY as JOB_SALARY,
        j.CV_RECEI_MAIL as CV_RECEI_MAIL,
        j.CV_NAME_RULE as CV_NAME_RULE,
        j.JOB_ACTIVE as JOB_ACTIVE,
        j.HR_ID as HR_ID,
        j.COMPANY_ID as COMPANY_ID,
        com.COMPANY_NAME as COMPANY_NAME,
        com.COMPANY_SCALE_NUM as COMPANY_SCALE_NUM,
        com.COMPANY_LOGO as COMPANY_LOGO
        FROM JOB_INFO j
        LEFT OUTER JOIN HR_INFO h ON j.HR_ID = h.HR_ID
        LEFT OUTER JOIN COMPANY_INFO com ON j.COMPANY_ID = com.COMPANY_ID
        LEFT OUTER JOIN JOB_LOCATION loc ON loc.JOB_ID = j.JOB_ID

        WHERE
            j.IS_DELETE = 0 AND com.IS_DELETE = 0 AND h.IS_DELETE = 0 AND loc.IS_DELETE = 0
            <if test="jobId != null">
                AND j.JOB_ID =  #{jobId}
            </if>
            <if test="jobName != null">
                AND j.JOB_NAME =  #{jobName}
            </if>
            <if test="comId != null">
                AND j.COMPANY_ID = #{comId}
            </if>
            <if test="comName != null">
                AND com.COMPANY_NAME = #{comName}
            </if>
            <if test="location != null">
                AND loc.JOB_REGION_NUM = #{location}
            </if>
            <if test="type != null">
                AND j.JOB_TIME = #{type}
            </if>
            <if test="deadline != null">
                AND j.JOB_END_TIME = #{deadline}
            </if>
    </select>

    <insert id="insertJobLocation" parameterType="com.youthchina.domain.qingyang.JobLocation"
            useGeneratedKeys="true" keyProperty="jobRegionId">
        INSERT INTO JOB_LOCATION
        (   JOB_REGION_ID,    JOB_REGION_NUM,   JOB_ID,     IS_DELETE)
        VALUES
        (
            #{jobRegionId},   #(jobRegionNum),   #{jobId},  #{isDelete}
        )
    </insert>

    <update id="updateJobLocation" parameterType="com.youthchina.domain.qingyang.JobLocation"
            useGeneratedKeys="true" keyProperty="jobRegionId">
        UPDATE JOB_LOCATION
        SET
            JOB_REGION_NUM = #{jobRegionNum},
            JOB_ID = #{jobId}
        WHERE
            JOB_REGION_ID = #{jobRegionId}
        AND IS_DELETE = 0
    </update>

    <update id="deleteJobLocation" parameterType="java.lang.Integer">
      UPDATE JOB_LOCATION SET IS_DELETE = 1, IS_DELETE_TIME = NOW()
      WHERE JOB_REGION_ID = #{jobRegionId}
    </update>

    <select id="getJobLocation" resultMap="com.youthchina.domain.qingyang.JobLocation"
            parameterType="java.lang.Integer">
        SELECT
            JOB_REGION_ID,  JOB_REGION_NUM,   JOB_ID
        FROM JOB_LOCATION
        WHERE
            JOB_REGION_ID = #{jobRegionId}
        AND IS_DELETE = 0
    </select>

    <select id="getJobLocationList" resultMap="com.youthchina.domain.qingyang.JobLocation">
        SELECT
            JOB_REGION_ID,  JOB_REGION_NUM,   JOB_ID
        FROM JOB_LOCATION
        WHERE JOB_REGION_ID in
        <foreach item="id" collection="ids" index="index" separator=",">
            #{id}
        </foreach>
        AND IS_DELETE = 0
    </select>


</mapper>
