<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youthchina.dao.qingyang.JobHrMapper">


    <insert id="insertJob" parameterType="com.youthchina.domain.qingyang.Job_qingyang"
            useGeneratedKeys="true" keyProperty="jobId">
        INSERT INTO JOB_INFO
        (   JOB_ID,         COMPANY_ID,     HR_ID,        JOB_NAME,     JOB_PROF_NUM,
            JOB_START_TIME, JOB_END_TIME,   JOB_TIME,     JOB_DESCRIPTION,
            JOB_DUTY,       JOB_REQ,        JOB_LOCATION, JOB_HIGHLIGHT,
            JOB_SALARY,     CV_RECEI_MAIL,  CV_NAME_RULE, JOB_ACTIVE)
        VALUES
        (
            #{jobId},       #{companyId},   #(hrId),       #{jobName},   #{jobProfNum},
            #{jobStartTime},#{jobEndTime},  #{jobTime},   #{jobDescription},
            #{jobDuty},     #{jobReq},      #{jobLocation},#{jobHighlight},
            #{jobSalary},   #{cvReceiMail}, #{cvNameRule},  #{jobActive}
        )
    </insert>

    <update id="updateJob" parameterType="com.youthchina.domain.qingyang.Job_qingyang"
            useGeneratedKeys="true" keyProperty="jobId">
        UPDATE JOB_INFO
        SET
            COMPANY_ID = #{companyId},
            HR_ID = #{hrId},
            JOB_NAME = #{jobName},
            JOB_PROF_NUM = #{jobProfNum},
            JOB_START_TIME = #{jobStartTime},
            JOB_END_TIME = #{jobEndTime},
            JOB_TIME = #{jobTime},
            JOB_DESCRIPTION = #{jobDescription},
            JOB_DUTY = #{jobDuty},
            JOB_EDU_REQ = #{jobReq},
            JOB_LOCATION = #{jobLocation},
            JOB_HIGHLIGHT = #{jobHighlight},
            JOB_SALARY = #{jobSalary},
            CV_RECEI_MAIL = #{cvReceiMail},
            CV_NAME_RULE = #{cvNameRule},
            JOB_ACTIVE = #{jobActive},
            IS_DELETE = 0
        WHERE
            JOB_ID = #{jobId}
        AND IS_DELETE = 0
    </update>

    <update id="deleteJobByID" parameterType="java.lang.Integer">
      UPDATE JOB_INFO
      SET
          IS_DELETE = 1,
          IS_DELETE_TIME = NOW()
      WHERE
          JOB_ID = #{jobId}
      AND IS_DELETE = 0
    </update>


    <resultMap id="job" type="com.youthchina.domain.qingyang.Job_qingyang">
        <id property="jobId" column="JOB_ID"/>
        <result property="jobName" column="JOB_NAME"/>
        <result property="jobProfNum" column="JOB_PROF_NUM"/>
        <result property="jobStartTime" column="JOB_START_TIME"/>
        <result property="jobEndTime" column="JOB_END_TIME"/>
        <result property="jobTime" column="JOB_TIME"/>
        <result property="jobDescription" column="JOB_DESCRIPTION"/>
        <result property="jobDuty" column="JOB_DUTY"/>
        <result property="jobReq" column="JOB_REQ"/>
        <result property="jobLocation" column="JOB_LOCATION"/>
        <result property="jobHighlight" column="JOB_HIGHLIGHT"/>
        <result property="jobSalary" column="JOB_SALARY"/>
        <result property="cvReceiMail" column="CV_RECEI_MAIL"/>
        <result property="cvNameRule" column="CV_NAME_RULE"/>
        <result property="jobActive" column="JOB_ACTIVE"/>
        <association property="company" javaType="com.youthchina.domain.qingyang.Company_qingyang">
            <id property="company_id" column="COMPANY_ID"/>
            <result property="companyName" column="COMPANY_NAME"/>
            <result property="companyScaleNum" column="COMPANY_SCALE_NUM"/>
            <result property="companyLogo" column="COMPANY_LOGO"/>
        </association>
        <association property="hr" javaType="com.youthchina.domain.qingyang.Hr_qingyang">
            <id property="hrId" column="HR_ID"/>
        </association>
    </resultMap>

    <!--职位详情页, 含公司HR-->
    <select id="getJobByJobId" resultType="job" parameterType="java.lang.Integer">
        SELECT
            j.JOB_ID as JOB_ID,
            j.JOB_NAME as JOB_NAME,
            j.JOB_PROF_NUM as JOB_PROF_NUM,
            j.JOB_START_TIME as JOB_START_TIME,
            j.JOB_END_TIME as JOB_END_TIME,
            j.JOB_TIME as JOB_TIME,
            j.JOB_DESCRIPTION as JOB_DESCRIPTION,
            j.JOB_DUTY as JOB_DUTY,
            j.JOB_REQ as JOB_REQ,
            j.JOB_LOCATION as JOB_LOCATION,
            j.JOB_HIGHLIGHT as JOB_HIGHLIGHT,
            j.JOB_SALARY as JOB_SALARY,
            j.CV_RECEI_MAIL as CV_RECEI_MAIL,
            j.CV_NAME_RULE as CV_NAME_RULE,
            j.JOB_ACTIVE as JOB_ACTIVE,
            j.HR_ID as HR_ID,
            j.COMPANY_ID as COMPANY_ID,
            c.COMPANY_NAME as COMPANY_NAME,
            c.COMPANY_SCALE_NUM as COMPANY_SCALE_NUM,
            c.COMPANY_LOGO as COMPANY_LOGO,
        FROM JOB_INFO j
             LEFT OUTER JOIN HR_INFO h ON j.HR_ID = h.HR_ID
             LEFT OUTER JOIN COMPANY_INFO c ON j.COMPANY_ID = c.COMPANY_ID
        WHERE
            j.JOB_ID = #{jobId}
        AND j.IS_DELETE = 0 AND c.IS_DELETE = 0 AND h.IS_DELETE = 0
    </select>

    <select id="getJobByCompanyId" resultType="job" parameterType="java.lang.Integer">
        SELECT * FROM JOB_INFO
        WHERE
            COMPANY_ID = #{companyId}
        AND IS_DELETE = 0
    </select>


    <!--todo-->
    <select id="selectByIndustryId" resultType="job" parameterType="java.util.List">

    </select>
    <select id="selectByIndustryString" resultType="job" parameterType="java.lang.String">

    </select>







</mapper>
