<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youthchina.dao.qingyang.JobMapper">


    <insert id="insertJob" parameterType="com.youthchina.domain.qingyang.Job"
            useGeneratedKeys="true" keyProperty="jobId">
        INSERT INTO JOB_INFO
        (
            COMPANY_ID,     HR_ID,          JOB_NAME,     JOB_PROF_NUM,
            JOB_START_TIME, JOB_END_TIME,   JOB_TIME,     JOB_DESCRIPTION,
            JOB_DUTY,       JOB_HIGHLIGHT, JOB_SALARY_FLOOR, JOB_SALARY_CAP,
            JOB_LINK,   CV_RECEI_MAIL,  CV_NAME_RULE, JOB_ACTIVE, IS_DELETE,
            IS_DELETE_TIME
        )
        VALUES
        (
            #{company.companyId},   #{hr.hrId},       #{jobName},     #{jobProfNum},
            #{jobStartTime},#{jobEndTime},  #{jobTime},     #{jobDescription},
            #{jobDuty},   #{jobHighlight},  #{jobSalaryFloor}, #{jobSalaryCap},
            #{jobLink},  #{cvReceiMail}, #{cvNameRule},  #{jobActive}, 0,
            NULL
        )
    </insert>

    <update id="updateJob" parameterType="com.youthchina.domain.qingyang.Job"
            useGeneratedKeys="true" keyProperty="jobId">
        UPDATE JOB_INFO
        SET
            COMPANY_ID = #{company.companyId},
            HR_ID = #{hr.hrId},
            JOB_NAME = #{jobName},
            JOB_PROF_NUM = #{jobProfNum},
            JOB_START_TIME = #{jobStartTime},
            JOB_END_TIME = #{jobEndTime},
            JOB_TIME = #{jobTime},
            JOB_DESCRIPTION = #{jobDescription},
            JOB_DUTY = #{jobDuty},
            JOB_HIGHLIGHT = #{jobHighlight},
            JOB_SALARY_FLOOR = #{jobSalaryFloor},
            JOB_SALARY_CAP = #{jobSalaryCap},
            JOB_LINK = #{jobLink},
            CV_RECEI_MAIL = #{cvReceiMail},
            CV_NAME_RULE = #{cvNameRule},
            JOB_ACTIVE = #{jobActive}
        WHERE
            JOB_ID = #{jobId}
        AND IS_DELETE = 0
    </update>

    <update id="deleteJob" parameterType="java.lang.Integer">
      UPDATE JOB_INFO j SET j.IS_DELETE = 1, j.IS_DELETE_TIME = NOW()
      WHERE j.JOB_ID = #{id}
    </update>


    <resultMap id="job" type="com.youthchina.domain.qingyang.Job">
        <id property="jobId" column="JOB_ID"/>
        <result property="jobName" column="JOB_NAME"/>
        <result property="jobProfNum" column="JOB_PROF_NUM"/>
        <result property="jobStartTime" column="JOB_START_TIME"/>
        <result property="jobEndTime" column="JOB_END_TIME"/>
        <result property="jobTime" column="JOB_TIME"/>
        <result property="jobDescription" column="JOB_DESCRIPTION"/>
        <result property="jobDuty" column="JOB_DUTY"/>
        <result property="jobHighlight" column="JOB_HIGHLIGHT"/>
        <result property="jobSalaryFloor" column="JOB_SALARY_FLOOR"/>
        <result property="jobSalaryCap" column="JOB_SALARY_CAP"/>
        <result property="jobLink" column="JOB_LINK"/>
        <result property="cvReceiMail" column="CV_RECEI_MAIL"/>
        <result property="cvNameRule" column="CV_NAME_RULE"/>
        <result property="jobActive" column="JOB_ACTIVE"/>
        <association property="company" javaType="com.youthchina.domain.qingyang.Company">
            <id property="companyId" column="COMPANY_ID"/>
            <result property="companyName" column="COMPANY_NAME"/>
            <result property="companyCode" column="COMPANY_CODE"/>
            <result property="companyCountry" column="COMPANY_COUNTRY"/>
            <result property="companyIntroduc" column="COMPANY_INTRODUC"/>
            <result property="companyScaleNum" column="COMPANY_SCALE_NUM"/>
            <result property="companyNature" column="COMPANY_NATURE"/>
            <result property="companyLocation" column="COMPANY_LOCATION"/>
            <result property="companyMail" column="COMPANY_MAIL"/>
            <result property="companyWebsite" column="COMPANY_WEBSITE"/>
            <result property="companyStartDate" column="COMPANY_START_DATE"/>
            <result property="companyLogo" column="COMPANY_LOGO"/>
            <result property="companyVerify" column="COMPANY_VERIFY"/>
        </association>
        <association property="hr" javaType="com.youthchina.domain.qingyang.Hr">
            <id property="hrId" column="HR_ID"/>
            <result property="hrOnJob" column="HR_ON_JOB"/>
            <result property="companyId" column="COMPANY_ID"/>
        </association>
        <collection property="industries" ofType="com.youthchina.domain.qingyang.Industry">
            <id property="indNum" column="C_IND_NUM"/>
            <result property="indCode" column="IND_CODE"/>
            <result property="indChn" column="IND_CHN"/>
            <result property="indEng" column="IND_ENG"/>
            <result property="indLevel" column="IND_LEVEL"/>
            <result property="indParentCode" column="IND_PARENT_CODE"/>
            <result property="startTime" column="START_TIME"/>
        </collection>
        <collection property="jobLocationList" ofType="com.youthchina.domain.qingyang.JobLocation">
            <id property="jobRegionId" column="JOB_REGION_ID"/>
            <result property="jobRegionNum" column="JOB_REGION_NUM"/>
            <result property="jobId" column="JOB_ID"/>
        </collection>
        <collection property="jobReqList" ofType="com.youthchina.domain.qingyang.JobRequest">
            <id property="jobRequireId" column="JOB_REQUIRE_ID"/>
            <result property="jobDegreeNum" column="JOB_DEGREE_NUM"/>
            <result property="jobId" column="JOB_ID"/>
        </collection>
    </resultMap>

    <resultMap id="jobListMap" type="java.util.HashMap">
        <collection property="job">
            <id property="indName" column="IND_NAME"/>
        </collection>
    </resultMap>

    <!--职位详情页, 含公司和HR信息-->
    <select id="selectJobByJobId" resultMap="job" parameterType="java.lang.Integer">
        SELECT
            j.JOB_ID as JOB_ID,
            j.JOB_NAME as JOB_NAME,
            j.JOB_PROF_NUM as JOB_PROF_NUM,
            j.JOB_START_TIME as JOB_START_TIME,
            j.JOB_END_TIME as JOB_END_TIME,
            j.JOB_TIME as JOB_TIME,
            j.JOB_DESCRIPTION as JOB_DESCRIPTION,
            j.JOB_DUTY as JOB_DUTY,
            j.JOB_HIGHLIGHT as JOB_HIGHLIGHT,
            j.JOB_SALARY_FLOOR as JOB_SALARY_FLOOR,
            j.JOB_SALARY_CAP as JOB_SALARY_CAP,
            j.JOB_LINK as JOB_LINK,
            j.CV_RECEI_MAIL as CV_RECEI_MAIL,
            j.CV_NAME_RULE as CV_NAME_RULE,
            j.JOB_ACTIVE as JOB_ACTIVE,
            j.HR_ID as HR_ID,
            j.COMPANY_ID as COMPANY_ID,

            com.COMPANY_NAME as COMPANY_NAME,
            com.COMPANY_CODE as COMPANY_CODE,
            com.COMPANY_COUNTRY as COMPANY_COUNTRY,
            com.COMPANY_INTRODUC as COMPANY_INTRODUC,
            com.COMPANY_SCALE_NUM as COMPANY_SCALE_NUM,
            com.COMPANY_NATURE as COMPANY_NATURE,
            com.COMPANY_LOCATION as COMPANY_LOCATION,
            com.COMPANY_MAIL as COMPANY_MAIL,
            com.COMPANY_WEBSITE as COMPANY_WEBSITE,
            com.COMPANY_START_DATE as COMPANY_START_DATE,
            com.COMPANY_LOGO as COMPANY_LOGO,
            com.COMPANY_VERIFY as COMPANY_VERIFY,

            h.HR_ON_JOB as HR_ON_JOB
        FROM JOB_INFO j
             LEFT OUTER JOIN HR_INFO h ON j.HR_ID = h.HR_ID
             LEFT OUTER JOIN COMPANY_INFO com ON j.COMPANY_ID = com.COMPANY_ID
        WHERE
            j.JOB_ID = #{jobId}
        AND j.IS_DELETE = 0 AND com.IS_DELETE = 0 AND h.IS_DELETE = 0
    </select>

    <select id="selectJobByJobIdList" resultMap="job" parameterType="java.util.List">
        SELECT
            j.JOB_ID as JOB_ID,
            j.JOB_NAME as JOB_NAME,
            j.JOB_PROF_NUM as JOB_PROF_NUM,
            j.JOB_START_TIME as JOB_START_TIME,
            j.JOB_END_TIME as JOB_END_TIME,
            j.JOB_TIME as JOB_TIME,
            j.JOB_DESCRIPTION as JOB_DESCRIPTION,
            j.JOB_DUTY as JOB_DUTY,
            j.JOB_REQ as JOB_REQ,
            j.JOB_HIGHLIGHT as JOB_HIGHLIGHT,
            j.JOB_SALARY as JOB_SALARY,
            j.CV_RECEI_MAIL as CV_RECEI_MAIL,
            j.CV_NAME_RULE as CV_NAME_RULE,
            j.JOB_ACTIVE as JOB_ACTIVE,
            j.HR_ID as HR_ID,
            j.COMPANY_ID as COMPANY_ID,
            com.COMPANY_NAME as COMPANY_NAME,
            com.COMPANY_SCALE_NUM as COMPANY_SCALE_NUM,
            com.COMPANY_LOGO as COMPANY_LOGO
        FROM JOB_INFO j
             LEFT OUTER JOIN HR_INFO h ON j.HR_ID = h.HR_ID AND j.IS_DELETE = 0 AND h.IS_DELETE = 0
             LEFT OUTER JOIN COMPANY_INFO com ON j.COMPANY_ID = com.COMPANY_ID AND com.IS_DELETE = 0
        WHERE j.JOB_ID in
        <foreach item='id' index='index' collection="list" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>



    <!--按行业Id的List查询Job的List, 中文名做返回的Map的Key-->
    <select id="selectByIndustryId" resultMap="jobListMap">
        SELECT
        class.IND_CHN as IND_NAME,
        j.JOB_ID as JOB_ID,
        j.JOB_NAME as JOB_NAME,
        j.JOB_PROF_NUM as JOB_PROF_NUM,
        j.JOB_START_TIME as JOB_START_TIME,
        j.JOB_END_TIME as JOB_END_TIME,
        j.JOB_TIME as JOB_TIME,
        j.JOB_DESCRIPTION as JOB_DESCRIPTION,
        j.JOB_DUTY as JOB_DUTY,
        j.JOB_REQ as JOB_REQ,
        j.JOB_HIGHLIGHT as JOB_HIGHLIGHT,
        j.JOB_SALARY as JOB_SALARY,
        j.CV_RECEI_MAIL as CV_RECEI_MAIL,
        j.CV_NAME_RULE as CV_NAME_RULE,
        j.JOB_ACTIVE as JOB_ACTIVE,
        j.HR_ID as HR_ID,
        j.COMPANY_ID as COMPANY_ID,
        com.COMPANY_NAME as COMPANY_NAME,
        com.COMPANY_SCALE_NUM as COMPANY_SCALE_NUM,
        com.COMPANY_LOGO as COMPANY_LOGO,
        loc.JOB_REGION_ID as JOB_REGION_ID,
        loc.JOB_REGION_NUM as JOB_REGION_NUM
        FROM SYS_IND_CLASS class
        LEFT OUTER JOIN JOB_INDUSTRY ind ON class.IND_NUM = ind.JOB_IND_NUM
        LEFT OUTER JOIN JOB_INFO j ON ind.JOB_ID = j.JOB_ID
        LEFT OUTER JOIN HR_INFO h ON j.HR_ID = h.HR_ID
        LEFT OUTER JOIN COMPANY_INFO com ON j.COMPANY_ID = com.COMPANY_ID
        LEFT OUTER JOIN JOB_LOCATION loc ON loc.JOB_ID = j.JOB_ID

        WHERE class.IND_NUM in
        <foreach item="id" collection="indIds" index="index" separator=",">
            #{id}
        </foreach>
        AND class.IS_DELETE = 0 AND ind.IS_DELETE = 0
        AND j.IS_DELETE = 0 AND com.IS_DELETE = 0 AND h.IS_DELETE = 0 AND loc.IS_DELETE = 0
    </select>

    <!--按行业名称的List查询Job的List, 中文名做返回的Map的Key-->
    <select id="selectByIndustryString" resultMap="jobListMap">
        SELECT
            class.IND_CHN as IND_NAME,
            j.JOB_ID as JOB_ID,
            j.JOB_NAME as JOB_NAME,
            j.JOB_PROF_NUM as JOB_PROF_NUM,
            j.JOB_START_TIME as JOB_START_TIME,
            j.JOB_END_TIME as JOB_END_TIME,
            j.JOB_TIME as JOB_TIME,
            j.JOB_DESCRIPTION as JOB_DESCRIPTION,
            j.JOB_DUTY as JOB_DUTY,
            j.JOB_REQ as JOB_REQ,
            j.JOB_HIGHLIGHT as JOB_HIGHLIGHT,
            j.JOB_SALARY as JOB_SALARY,
            j.CV_RECEI_MAIL as CV_RECEI_MAIL,
            j.CV_NAME_RULE as CV_NAME_RULE,
            j.JOB_ACTIVE as JOB_ACTIVE,
            j.HR_ID as HR_ID,
            j.COMPANY_ID as COMPANY_ID,
            com.COMPANY_NAME as COMPANY_NAME,
            com.COMPANY_SCALE_NUM as COMPANY_SCALE_NUM,
            com.COMPANY_LOGO as COMPANY_LOGO,
            loc.JOB_REGION_ID as JOB_REGION_ID,
            loc.JOB_REGION_NUM as JOB_REGION_NUM
        FROM SYS_IND_CLASS class
        LEFT OUTER JOIN JOB_INDUSTRY ind ON class.IND_NUM = ind.JOB_IND_NUM
        LEFT OUTER JOIN JOB_INFO j ON ind.JOB_ID = j.JOB_ID
        LEFT OUTER JOIN HR_INFO h ON j.HR_ID = h.HR_ID
        LEFT OUTER JOIN COMPANY_INFO com ON j.COMPANY_ID = com.COMPANY_ID
        LEFT OUTER JOIN JOB_LOCATION loc ON loc.JOB_ID = j.JOB_ID

        WHERE class.IND_CHN OR class.IND_ENG in
            <foreach item="industry" collection="industries" index="index" separator=",">
                    #{industry}
            </foreach>
        AND class.IS_DELETE = 0 AND ind.IS_DELETE = 0
        AND j.IS_DELETE = 0 AND com.IS_DELETE = 0 AND h.IS_DELETE = 0 AND loc.IS_DELETE = 0
    </select>


    <select id="getJobByMore" resultMap="job">
        SELECT
        j.JOB_ID as JOB_ID,
        j.JOB_NAME as JOB_NAME,
        j.JOB_PROF_NUM as JOB_PROF_NUM,
        j.JOB_START_TIME as JOB_START_TIME,
        j.JOB_END_TIME as JOB_END_TIME,
        j.JOB_TIME as JOB_TIME,
        j.JOB_DESCRIPTION as JOB_DESCRIPTION,
        j.JOB_DUTY as JOB_DUTY,
        j.JOB_REQ as JOB_REQ,
        j.JOB_HIGHLIGHT as JOB_HIGHLIGHT,
        j.JOB_SALARY as JOB_SALARY,
        j.CV_RECEI_MAIL as CV_RECEI_MAIL,
        j.CV_NAME_RULE as CV_NAME_RULE,
        j.JOB_ACTIVE as JOB_ACTIVE,
        j.HR_ID as HR_ID,
        j.COMPANY_ID as COMPANY_ID,
        com.COMPANY_NAME as COMPANY_NAME,
        com.COMPANY_SCALE_NUM as COMPANY_SCALE_NUM,
        com.COMPANY_LOGO as COMPANY_LOGO
        FROM JOB_INFO j
        LEFT OUTER JOIN HR_INFO h ON j.HR_ID = h.HR_ID
        LEFT OUTER JOIN COMPANY_INFO com ON j.COMPANY_ID = com.COMPANY_ID
        LEFT OUTER JOIN JOB_LOCATION loc ON loc.JOB_ID = j.JOB_ID

        WHERE
            j.IS_DELETE = 0 AND com.IS_DELETE = 0 AND h.IS_DELETE = 0 AND loc.IS_DELETE = 0
            <if test="jobId != null">
                AND j.JOB_ID =  #{jobId}
            </if>
            <if test="jobName != null">
                AND j.JOB_NAME =  #{jobName}
            </if>
            <if test="comId != null">
                AND j.COMPANY_ID = #{comId}
            </if>
            <if test="comName != null">
                AND com.COMPANY_NAME = #{comName}
            </if>
            <if test="location != null">
                AND loc.JOB_REGION_NUM = #{location}
            </if>
            <if test="type != null">
                AND j.JOB_TIME = #{type}
            </if>
            <if test="deadline != null">
                AND j.JOB_END_TIME = #{deadline}
            </if>
    </select>

    <insert id="insertJobLocation" parameterType="com.youthchina.domain.qingyang.JobLocation"
            useGeneratedKeys="true" keyProperty="jobRegionId">
        INSERT INTO JOB_LOCATION
        (   JOB_REGION_ID,    JOB_REGION_NUM,   JOB_ID,     IS_DELETE)
        VALUES
        (
            #{jobRegionId},   #{jobRegionNum},   #{jobId},  #{isDelete}
        )
    </insert>

    <update id="updateJobLocation" parameterType="com.youthchina.domain.qingyang.JobLocation"
            useGeneratedKeys="true" keyProperty="jobRegionId">
        UPDATE JOB_LOCATION
        SET
            JOB_REGION_NUM = #{jobRegionNum},
            JOB_ID = #{jobId}
        WHERE
            JOB_REGION_ID = #{jobRegionId}
        AND IS_DELETE = 0
    </update>

    <update id="deleteJobLocation" parameterType="java.lang.Integer">
      UPDATE JOB_LOCATION SET IS_DELETE = 1, IS_DELETE_TIME = NOW()
      WHERE JOB_REGION_ID = #{jobRegionId}
    </update>

    <select id="getJobLocation" resultType="com.youthchina.domain.qingyang.JobLocation"
            parameterType="java.lang.Integer">
        SELECT
            JOB_REGION_ID,  JOB_REGION_NUM,   JOB_ID
        FROM JOB_LOCATION
        WHERE
            JOB_REGION_ID = #{jobRegionId}
        AND IS_DELETE = 0
    </select>

    <select id="getJobLocationList" resultType="com.youthchina.domain.qingyang.JobLocation">
        SELECT
            JOB_REGION_ID,  JOB_REGION_NUM,   JOB_ID
        FROM JOB_LOCATION
        WHERE JOB_REGION_ID in
        <foreach item="id" collection="ids" index="index" separator=",">
            #{id}
        </foreach>
        AND IS_DELETE = 0
    </select>


</mapper>
