<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youthchina.dao.qingyang.LocationMapper">

    <resultMap id="LocationChn" type="com.youthchina.domain.Qinghong.Location">
        <id property="region_num" column="REGION_NUM"/>
        <result property="region_chn" column="REGION_CHN"/>
        <result property="region_eng" column="REGION_ENG"/>
        <result property="region_level" column="REGION_LEVEL"/>
        <result property="region_parent_num" column="REGION_PARENT_NUM"/>
        <result property="start_time" column="START_TIME"/>
    </resultMap>

    <select id="getChildrenChn" resultMap="LocationChn" parameterType="java.lang.Integer">
        SELECT * FROM SYS_CHN_REGION
        WHERE REGION_PARENT_NUM = #{parentId} AND IS_DELETE = 0
    </select>

    <select id="getChnLocation" resultMap="LocationChn" parameterType="java.lang.Integer">
        SELECT * FROM SYS_CHN_REGION
        WHERE REGION_NUM = #{regionNum} AND IS_DELETE = 0
    </select>

    <select id="getChnLocationByLocationList" resultMap="LocationChn" parameterType="java.util.List">
        SELECT * FROM SYS_CHN_REGION
        WHERE IS_DELETE = 0
          AND REGION_NUM IN
        <foreach item='location' index='index' collection="list" separator="," open="(" close=")">
            #{location.region_num}
        </foreach>
    </select>

    <resultMap id="USAState" type="com.youthchina.domain.qingyang.USAState">
        <id property="stateId" column="STATE_ID"/>
        <result property="stateChn" column="STATE_CHN"/>
        <result property="stateEng" column="STATE_ENG"/>
        <result property="stateAbbre" column="STATE_ABBRE"/>
        <result property="startTime" column="STATE_START_TIME"/>
    </resultMap>

    <resultMap id="LocationUSA" type="com.youthchina.domain.Qinghong.Location">
        <id property="region_num" column="ZIP_CODE"/>
        <result property="region_chn" column="REGION_CHN"/>
        <result property="region_eng" column="REGION_ENG"/>
        <result property="regionCity" column="REGION_CITY"/>
        <result property="start_time" column="ZIP_START_TIME"/>
        <association property="usaState" resultMap="USAState"/>
    </resultMap>

    <sql id="selectZip">
        SELECT
            zip.ZIP_CODE as ZIP_CODE,
            zip.REGION_CHN as REGION_CHN,
            zip.REGION_ENG as REGION_ENG,
            zip.REGION_CITY as REGION_CITY,
            zip.START_TIME as ZIP_START_TIME,
            zip.STATE_ID as STATE_ID,

            state.STATE_CHN as STATE_CHN,
            state.STATE_ENG as STATE_ENG,
            state.STATE_ABBRE as STATE_ABBRE,
            state.START_TIME as STATE_START_TIME

        FROM SYS_USA_ZIPCODE zip
                 LEFT OUTER JOIN SYS_USA_STATE state ON zip.IS_DELETE = 0 AND state.STATE_ID = zip.STATE_ID AND  state.IS_DELETE = 0

    </sql>

    <select id="getUSALocation" resultMap="LocationUSA" parameterType="java.lang.Integer">
        <include refid="selectZip"/>
        WHERE zip.ZIP_CODE = #{zipCode}
    </select>

    <select id="getUSALocationByLocationList" resultMap="LocationUSA" parameterType="java.util.List">
        <include refid="selectZip"/>
        WHERE zip.ZIP_CODE IN
        <foreach item='location' index='index' collection="list" separator="," open="(" close=")">
            #{location.region_num}
        </foreach>
    </select>

    <select id="getChildrenUSA" resultMap="LocationUSA" parameterType="java.lang.Integer">
        <include refid="selectZip"/>
        WHERE zip.STATE_ID = #{stateId}
    </select>


</mapper>
