<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youthchina.dao.qingyang.ResumeJsonMapper">



    <select id="selectResumeJson" resultMap="ResumeJson" parameterType="java.lang.Integer">
        SELECT *
        FROM STU_RESUME_JSON
        WHERE RESUME_ID = #{id}
    </select>



</mapper>
