<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.youthchina.dao.miaomiaozhang.CompanyHrMapper">
    <insert id="insertHr" parameterType="com.youthchina.domain.miaomiaozhang.CompanyHr">
        INSERT INTO HR_INFO
        (   HR_ID,
            HR_NAME,
            HR_GENDER,
            HR_AGE,
            HR_MAIL,
            HR_PHONE,
            HR_COMPANY_ID,
            HR_ON_JOB,
            HR_WORKINGCARDNUM)
        VALUES
            (
                #{hr_id},
                #{hr_name},
                #{hr_gender},
                #{hr_age},
                #{hr_mail},
                #{hr_phone},
                #{hr_company_id},
                #{hr_on_job},
                #{hr_workingcardnum}
            )
    </insert>
    <update id="updateHr" parameterType="java.lang.String">
        UPDATE HR_INFO
        SET HR_NAME = #{hr_name},
        HR_GENDER = #{hr_gender},
        HR_AGE = #{hr_age},
        HR_MAIL = #{hr_mail},
        HR_PHONE = #{hr_phone},
        HR_COMPANY_ID = #{hr_company_id},
        HR_ON_JOB = #{hr_on_job},
        HR_WORKINGCARDNUM = #{hr_workingcardnum}
        WHERE
            HR_ID = #{hr_id}
    </update>

    <update id="selectHr" parameterType="java.lang.String" >
        SELECT
            HR_ID,
            HR_NAME,
            HR_GENDER,
            HR_AGE,
            HR_MAIL,
            HR_PHONE,
            HR_COMPANY_ID,
            HR_ON_JOB,
            HR_WORKINGCARDNUM
        FROM
            HR_INFO
        WHERE
            HR_ID =#{hr_id}
    </update>

    <select id="selectEnterpriseVerification" parameterType="java.lang.String" resultType="com.youthchina.domain.miaomiaozhang.CompanyInfo">
        SELECT
            COMPANY_NAME,
            COMPANY_LOCATION,
            COMPANY_LICENSE
        FROM
            COMPANY_INFO CI,
            HR_INFO HI
        WHERE
            HI.HR_COMPANY_ID = CI.COMPANY_ID
        AND HR_ID = #{hr_id}
    </select>

    <update id = "updatePersonalVerification" parameterType="java.lang.String">
        UPDATE HR_INFO
        SET HR_MAIL = #{hr_mail},
            HR_ON_JOB = #{hr_on_job},
            HR_WORKINGCARDNUM = #{hr_workingcardnum}
        WHERE
            HR_ID = #{hr_id}
    </update>

    <select id= "selectPersonalVerification" parameterType="java.lang.String" resultType="com.youthchina.domain.miaomiaozhang.CompanyHr">
        SELECT
            HR_MAIL,
            HR_ON_JOB,
            HR_WORKINGCARDNUM
	    FROM
            HR_INFO
	    WHERE
            HR_ID = #{hr_id}
    </select>

</mapper>
