<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youthchina.dao.tianjian.CommunityMapper">
    <resultMap id="essayresult" type="com.youthchina.domain.tianjian.ComEssay">
        <id property="id" column="ESSAY_ID"/>
        <result property="title" column="ESSAY_TITLE"/>
        <result property="abbre" column="ESSAY_ABBRE"/>
        <result property="isAnony" column="USER_ANONY"/>
        <result property="pubTime" column="ESSAY_PUB_TIME"/>
        <result property="editTime" column="ESSAY_EDIT_TIME"/>
        <result property="relaType" column="RELA_TYPE"/>
        <result property="relaId" column="RELA_ID"/>
        <association property="user" javaType="com.youthchina.domain.zhongyang.User"
                     resultMap="com.youthchina.dao.zhongyang.UserMapper.User"/>
    </resultMap>
    <resultMap id="friendrelationresult" type="com.youthchina.domain.tianjian.ComFriendRelation">
        <id property="relaId" column="RELA_ID"/>
        <result property="userId" column="USER_ID"/>
        <result property="addTime" column="ADD_TIME"/>
        <result property="isDelete" column="IS_DELETE"/>
        <result property="isDeleteTime" column="IS_DELETE_TIME"/>
        <result property="friendId" column="FRIEND_ID"/>
    </resultMap>
    <resultMap id="friendgroupresult" type="com.youthchina.domain.tianjian.ComFriendGroup">
        <id property="groupId" column="GROUP_ID"/>
        <result property="groupName" column="GROUP_NAME"/>
        <result property="groupNum" column="GROUP_NUM"/>
    </resultMap>
    <resultMap id="friendapplyresult" type="com.youthchina.domain.tianjian.ComFriendApply">
        <id property="applyId" column="APPLY_ID"/>
        <result property="userId" column="USER_ID"/>
        <result property="friendId" column="FRIEND_ID"/>
        <result property="friApplyTime" column="FRI_APPLY_TIME"/>
        <result property="friApplyAccept" column="FRI_APPLY_ACCEPT"/>
    </resultMap>
    <!--    发布文章 -->
    <insert id="addEssay" parameterType="com.youthchina.domain.tianjian.ComEssay" useGeneratedKeys="true"
            keyProperty="id">
    INSERT INTO COM_ESSAY  (ESSAY_TITLE, ESSAY_ABBRE, USER_ID, ESSAY_PUB_TIME,ESSAY_EDIT_TIME,IS_DELETE,USER_ANONY,IS_DELETE_TIME,RELA_TYPE,RELA_ID,ESSAY_BODY)
           values(#{title},#{abbre},#{user.id},#{pubTime},#{editTime},0,#{isAnony},null,#{relaType},#{relaId},#{body.textId}
                 )

    </insert>

    <!--    更新文章 -->
    <update id="updateEssay" parameterType="com.youthchina.domain.tianjian.ComEssay">
    update COM_ESSAY
    set
         ESSAY_TITLE = #{title}, ESSAY_ABBRE = #{abbre}, ESSAY_BODY = #{body.textId}, ESSAY_PUB_TIME = #{pubTime},
         ESSAY_EDIT_TIME = #{editTime},IS_DELETE = 0,USER_ANONY=#{isAnony}
    where
         ESSAY_ID = #{id}
    </update>
    <!--    删除文章通过更新删除那一列设置值为1 -->
    <update id="deleteEssay">
    update COM_ESSAY
    set
         IS_DELETE = 1, IS_DELETE_TIME = now()
    where
        ESSAY_ID = #{essayId}
    </update>

    <!--    根据文章id查询文章 -->
    <select id="getEssay" resultMap="essayresult">
   		select t.* from COM_ESSAY t where t.ESSAY_ID = #{essayId} and t.IS_DELETE = 0
   </select>

    <!--    获取最新10个文章 -->
    <select id="getEssayLatest" resultType="com.youthchina.domain.tianjian.ComEssay">
   		select t.* from COM_ESSAY t where t.IS_DELETE = 0 order by t.ESSAY_EDIT_TIME desc limit 10
   </select>

    <!--    添加好友关系 -->
    <insert id="saveFriendsRelation" parameterType="com.youthchina.domain.tianjian.ComFriendRelation"
            useGeneratedKeys="true" keyProperty="relaId">
    INSERT INTO COM_FRIEND_RELATION  (USER_ID, ADD_TIME, IS_DELETE, FRIEND_ID)
    values(#{userId},now(),0,#{friendId})
    </insert>


    <!--    删除好友关系 -->
    <update id="deleteFriend">
    update COM_FRIEND_RELATION t
    set
         t.IS_DELETE = 1,
         t.IS_DELETE_TIME = #{comFriendRelation.isDeleteTime}
    where
         t.USER_ID = #{comFriendRelation.userId} and t.FRIEND_ID = #{comFriendRelation.friendId}
    </update>

    <!--    根据user_id查询好友关系 -->
    <select id="getFriend" resultMap="friendrelationresult">
   		select * from COM_FRIEND_RELATION where USER_ID = #{userId} and IS_DELETE = 0
   </select>

    <!--    添加好友分组 -->
    <insert id="saveFriendGroup" parameterType="com.youthchina.domain.tianjian.ComFriendGroup" useGeneratedKeys="true"
            keyProperty="groupId">
    INSERT INTO COM_FRIEND_GROUP  (GROUP_NUM, GROUP_NAME, ADD_TIME, IS_DELETE)
    values(#{groupNum},#{groupName},now(),0)
    </insert>

    <!--    添加好友分组映射 -->
    <insert id="saveFriendGroupMap" parameterType="com.youthchina.domain.tianjian.ComFriendGroupMap" >
    INSERT INTO COM_FRIEND_GROUP_MAP  (GROUP_ID, RELA_ID)
    values(#{groupId},#{relaId})
    </insert>

    <!--    更新好友分组 -->
    <update id="updateFriendGroup">
    update COM_FRIEND_GROUP t1, COM_FRIEND_GROUP_MAP t2
    set
         t1.GROUP_NUM = #{comFriendGroup.groupNum},
         t1.GROUP_NAME = #{comFriendGroup.groupName}
    where
         t1.GROUP_ID = t2.GROUP_ID and t2.RELA_ID = #{relaId}
    </update>

    <!--    根据个人关系的List查询所有好友分组 -->
    <select id="getFriendGroup" resultMap="friendgroupresult">
        select t1.*
        from COM_FRIEND_GROUP t1, COM_FRIEND_GROUP_MAP t2
        where t2.RELA_ID in
        <foreach collection="list" item="valueList" open="(" close=")" separator=",">
            #{valueList.relaId}
        </foreach>
        and
        t1.GROUP_ID = t2.GROUP_ID
    </select>
    <select id="getEssayList" resultType="com.youthchina.domain.tianjian.ComEssay">
         select * from COM_ESSAY t
         where t.ESSAY_ID in
        <foreach collection="list" item="essayId" index="index"  open="(" close=")" separator=",">
          #{id}
        </foreach>
    </select>
    <!--    统计所有文章个数 -->
    <select id="countEssay" resultType="java.lang.Integer">
        select count(*)
        from COM_ESSAY
        where IS_DELETE=0
    </select>

    <insert id="addFriendApply" parameterType="com.youthchina.domain.tianjian.ComFriendApply" useGeneratedKeys="true"
            keyProperty="applyId">
      insert into COM_FRIEND_APPLY (USER_ID, FRIEND_ID, FRI_APPLY_TIME,FRI_APPLY_ACCEPT)
      value (#{userId} ,#{friendId} ,NOW(),0)
    </insert>

    <select id="getAllFriendApply" resultMap="friendapplyresult">
      select * from COM_FRIEND_APPLY where USER_ID = #{userId};
    </select>

    <select id="getFriendApply" resultMap="friendapplyresult">
        select * from COM_FRIEND_APPLY where USER_ID = #{userId} and FRIEND_ID = #{friendId}
    </select>
    <select id="getAllEssayByUserId" resultMap="essayresult">
        select * from COM_ESSAY where USER_ID = #{userId} and IS_DELETE = 0
    </select>
    <select id="getFriendApplication" resultMap="friendapplyresult">
        select * from COM_FRIEND_APPLY
        where APPLY_ID = #{applicationId};
    </select>
    <update id="changeApplicationStatus">
    update COM_FRIEND_APPLY
    set
         FRI_APPLY_ACCEPT = #{friApplyAccept}
    where
         APPLY_ID = #{applyId}
    </update>
</mapper>
