<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youthchina.dao.tianjian.CommunityMapper">
    <!--    发布文章 -->
    <insert id="addEssay" parameterType="com.youthchina.domain.tianjian.ComEssay" useGeneratedKeys="true" keyProperty="essayId">
    INSERT INTO COM_ESSAY  (ESSAY_TITLE, ESSAY_ABBRE, USER_ID, ESSAY_PUB_TIME,ESSAY_EDIT_TIME,IS_DELETE,USER_ANONY,RELA_TYPE,RELA_ID)
           values(#{essayTitle},#{essayAbbre},#{user_id},#{essayPubTime},#{essayEditTime},#{isDelete},#{userAnony},#{relaType},#{relaId}
                 )

    </insert>

    <!--    更新文章 -->
    <update id="updateEssay" parameterType="com.youthchina.domain.tianjian.ComEssay">
    update COM_ESSAY
    set
         ESSAY_TITLE = #{essayTitle}, ESSAY_ABBRE = #{essayAbbre},
         ESSAY_EDIT_TIME = #{essayEditTime},IS_DELETE = #{isDelete},USER_ANONY=#{userAnony}
    where
         ESSAY_ID = #{essayId}
    </update>

    <!--    删除文章通过更新删除那一列设置值为1 -->
    <update id="deleteEssay" >
    update COM_ESSAY
    set
         IS_DELETE = 1, IS_DELETE_TIME = #{delete_time}
    where
        ESSAY_ID = #{essayId}
    </update>

    <!--    根据文章id查询文章 -->
    <select id="getEssay" resultType="com.youthchina.domain.tianjian.ComEssay">
   		select t.* from COM_ESSAY t where t.ESSAY_ID = #{essayId} and t.IS_DELETE = 0
   </select>

    <!--    获取最新10个文章 -->
    <select id="getEssayLatest" resultType="com.youthchina.domain.tianjian.ComEssay">
   		select t.* from COM_ESSAY t where t.IS_DELETE = 0 order by t.ESSAY_EDIT_TIME desc limit 10
   </select>


    <!--    添加好友关系 -->
    <insert id="saveFriendsRelation" parameterType="com.youthchina.domain.tianjian.ComFriendRelation" useGeneratedKeys="true" keyProperty="relaId">
    INSERT INTO COM_FRIEND_RELATION  (USER_ID, ADD_TIME, IS_DELETE, IS_DELETE_TIME)
    values(#{user_id},#{add_time},#{isDelete},#{is_delete_time} )
    </insert>

    <!--    添加好友关系映射 -->
    <insert id="saveFriendsRelationMap" parameterType="com.youthchina.domain.tianjian.ComFriendRelationMap" >
    INSERT INTO COM_FRIEND_RELATION_MAP  (RELA_ID, USER_ID)
    values(#{relaId},#{user_id})
    </insert>

    <!--    删除好友关系通过更新取消关注那一列设置值为1 -->
    <update id="deleteFriend">
    update COM_FRIEND_RELATION t1, COM_FRIEND_RELATION_MAP t2
    set
         t1.IS_DELETE = 1,
         t1.IS_DELETE_TIME = #{comFriendRelation.is_delete_time}
    where
         t1.RELA_ID = t2.RELA_ID and t1.USER_ID = #{comFriendRelation.user_id} and t2.USER_ID = #{own_id}
    </update>

    <!--    根据user_id查询好友关系 -->
    <select id="getFriend" resultType="com.youthchina.domain.tianjian.ComFriendRelation">
   		select t1.* from COM_FRIEND_RELATION t1, COM_FRIEND_RELATION_MAP t2 where t2.USER_ID = #{user_id} and t1.RELA_ID = t2.RELA_ID
   </select>

    <!--    添加好友分组 -->
    <insert id="saveFriendGroup" parameterType="com.youthchina.domain.tianjian.ComFriendGroup" >
    INSERT INTO COM_FRIEND_GROUP  (GROUP_NUM, GROUP_NAME, ADD_TIME, IS_DELETE, IS_DELETE_TIME)
    values(#{group_num},#{group_name},#{add_time},#{isDelete},#{is_delete_time})
    </insert>

    <!--    添加好友分组映射 -->
    <insert id="saveFriendGroupMap" parameterType="com.youthchina.domain.tianjian.ComFriendGroupMap" >
    INSERT INTO COM_FRIEND_GROUP_MAP  (GROUP_ID, RELA_ID)
    values(#{group_id},#{relaId})
    </insert>

    <!--    更新好友分组 -->
    <update id="updateFriendGroup">
    update COM_FRIEND_GROUP t1, COM_FRIEND_GROUP_MAP t2
    set
         t1.GROUP_NUM = #{comFriendGroup.group_num},
         t1.GROUP_NAME = #{comFriendGroup.group_name}
    where
         t1.GROUP_ID = t2.GROUP_ID and t2.RELA_ID = #{relaId}
    </update>

    <!--    根据个人关系的List查询所有好友分组 -->
    <select id="getFriendGroup"  resultType="com.youthchina.domain.tianjian.ComFriendGroup">
        select t1.*
        from  COM_FRIEND_GROUP t1, COM_FRIEND_GROUP_MAP t2
        where t2.RELA_ID in
        <foreach collection="list" item="valueList"  open="(" close=")" separator=",">
            #{valueList.relaId}
        </foreach>
        and
        t1.GROUP_ID = t2.GROUP_ID
    </select>
</mapper>
