<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youthchina.dao.Qinghong.ApplicantMapper">
    <resultMap id="studentResultMap" type="com.youthchina.domain.Qinghong.Student">
        <result property="username" column="USER_NAME" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="password" column="USER_PASS" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="age" column="USER_AGE" javaType="java.lang.Integer"/>
        <result property="email" column="USER_MAIL" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="USER_PHONE" property="phonenumber" jdbcType="VARCHAR"/>
        <result column="USER_REGIST_DATE" property="registerDate" jdbcType="VARCHAR"/>
        <result column="USER_REAL_NAME" property="realName" jdbcType="VARCHAR"/>
        <result column="USER_NATION" property="nation" jdbcType="VARCHAR"/>
        <result column="USER_PHOTO" property="avatarUrl" jdbcType="VARCHAR"/>
        <result property="gender" column="USER_GENDER" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="role" javaType="java.lang.Integer" column="ROLE_TYPE"/>
        <association property="subInfo" javaType="com.youthchina.domain.Qinghong.SubInfo">
            <id property="sub_id" column="SUB_ID"/>
            <result property="sub_course" column="SUB_COURSE"/>
            <result property="sub_honor" column="SUB_HONOR"/>
            <result property="sub_award" column="SUB_AWARD"/>
            <result property="sub_skill" column="SUB_SKILL"/>
            <result property="sub_foreign" column="SUB_FOREIGN"/>
            <result property="sub_interest" column="SUB_INTEREST"/>
            <result property="sub_introduction" column="SUB_INTRODUCTION"/>
            <result property="stu_id" column="STU_ID"/>
            <result property="is_delete" column="IS_DELETE"/>
            <result property="is_delete_time" column="IS_DELETE_TIME"/>
        </association>
        <collection property="educationInfos" ofType="com.youthchina.domain.Qinghong.EducationInfo">
            <id property="edu_id" column="EDU_ID"/>
            <result property="edu_major" column="EDU_MAJOR"/>
            <result property="edu_college" column="EDU_COLLEGE"/>
            <result property="edu_gpa" column="EDU_GPA"/>
            <result property="edu_start" column="EDU_START"/>
            <result property="edu_end" column="EDU_END"/>
            <result property="stu_id" column="STU_ID"/>
            <result property="is_delete" column="IS_DELETE"/>
            <result property="is_delete_time" column="IS_DELETE_TIME"/>
            <association property="degree" column="DEGREE" javaType="com.youthchina.domain.qingyang.Degree"
                         resultMap="getDegree"/>
            <association property="university" column="EDU_SCHOOL_ID" javaType="com.youthchina.domain.Qinghong.University"
                         resultMap="getUniversity"/>

        </collection>
        <collection property="certificates" ofType="com.youthchina.domain.Qinghong.Certificate">
            <id property="certificate_id" column="CERTIFICATE_ID"/>
            <result property="certificate_name" column="CERTIFICATE_NAME"/>
            <result property="certificate_insti" column="CERTIFICATE_INSTI"/>
            <result property="certificate_grant_date" column="CERTIFICATE_GRANT_DATE"/>
            <result property="certificate_expir_date" column="CERTIFICATE_EXPIR_DATE"/>
            <result property="docu_local_id" column="DOCU_LOCAL_ID"/>
            <result property="stu_id" column="STU_ID"/>
            <result property="is_delete" column="IS_DELETE"/>
            <result property="is_delete_time" column="IS_DELETE_TIME"/>
            <association property="insti_country" column="INSTI_COUNTRY" javaType="com.youthchina.domain.qingyang.Country"
                         resultMap="getCountry"/>
        </collection>
        <collection property="works" ofType="com.youthchina.domain.Qinghong.Work">
            <id property="work_id" column="WORK_ID"/>
            <result property="work_company" column="WORK_COMPANY"/>
            <result property="work_position" column="WORK_POSITION"/>
            <result property="work_sector" column="WORK_SECTOR"/>
            <result property="work_start_time" column="WORK_START_TIME"/>
            <result property="work_end_time" column="WORK_END_TIME"/>
            <result property="work_duty" column="WORK_DUTY"/>
            <result property="work_nature" column="WORK_NATURE"/>
            <association property="location" column="WORK_LOCATION" javaType="com.youthchina.domain.Qinghong.Location"
                         resultMap="getWorkId"/>
        </collection>
        <collection property="projects" ofType="com.youthchina.domain.Qinghong.Project">
            <id property="proj_id" column="PROJ_ID"/>
            <result property="proj_institute" column="PROJ_INSTITUTE"/>
            <result property="proj_name" column="PROJ_NAME"/>
            <result property="proj_role" column="PROJ_ROLE"/>
            <result property="proj_start_time" column="PROJ_START_TIME"/>
            <result property="proj_end_time" column="PROJ_END_TIME"/>
            <result property="proj_deliver" column="PROJ_DELIVER"/>
            <result property="deliver_publish" column="DELIVER_PUBLISH"/>
            <result property="deliver_pub_insti" column="DELIVER_PUB_INSTI"/>
            <result property="stu_id" column="STU_ID"/>
            <result property="is_delete" column="IS_DELETE"/>
            <result property="is_delete_time" column="IS_DELETE_TIME"/>
            <association property="insti_country" column="INSTI_COUNTRY" javaType="com.youthchina.domain.qingyang.Country"
                         resultMap="getCountry"/>
        </collection>
        <collection property="activities" ofType="com.youthchina.domain.Qinghong.Activity">
            <id property="act_id" column="ACT_ID"/>
            <result property="act_name" column="ACT_NAME"/>
            <result property="act_organization" column="ACT_ORGANIZATION"/>
            <result property="act_role" column="ACT_ROLE"/>
            <result property="act_start_time" column="ACT_START_TIME"/>
            <result property="act_end_time" column="ACT_END_TIME"/>
            <result property="act_detail" column="ACT_DETAIL"/>
            <result property="stu_id" column="STU_ID"/>
            <result property="is_delete" column="IS_DELETE"/>
            <result property="is_delete_time" column="IS_DELETE_TIME"/>
            <association property="org_country" column="ORG_COUNTRY" javaType="com.youthchina.domain.qingyang.Country"
                         resultMap="getCountry"/>
        </collection>
        <collection property="labelInfos" ofType="com.youthchina.domain.Qinghong.LabelInfo">
            <id property="label_id" column="LABEL_ID"/>
            <result property="label_level" column="LABEL_LEVEL"/>
            <result property="label_code" column="LABEL_CODE"/>
            <result property="label_parent_code" column="LABEL_PARENT_CODE"/>
            <result property="label_chn" column="LABEL_CHN"/>
            <result property="label_eng" column="LABEL_ENG"/>
            <result property="start_time" column="START_TIME"/>
            <result property="is_delete" column="IS_DELETE"/>
            <result property="is_delete_time" column="IS_DELETE_TIME"/>
        </collection>
    </resultMap>

    <resultMap id="ApplyMapper" type="com.youthchina.domain.Qinghong.JobApply">
        <id property="apply_id" column="APPLY_ID"/>
        <result property="stu_id" column="STU_ID"/>
        <result property="job_id" column="JOB_ID"/>
        <result property="job_cv_send" column="JOB_CV_SEND"/>
        <result property="job_apply_time" column="JOB_APPLY_TIME"/>
        <result property="job_apply_status" column="JOB_APPLY_STATUS"/>
        <association property="job" column="JOB_ID" javaType="com.youthchina.domain.qingyang.Job"
                     resultMap="com.youthchina.dao.qingyang.JobMapper.job"/>
        <!--<association property="job" javaType="com.youthchina.domain.qingyang.Job">-->
        <!--<id property="jobId" column="JOB_ID"/>-->
        <!--<result property="jobName" column="JOB_NAME"/>-->
        <!--<result property="jobProfCode" column="JOB_PROF_CODE"/>-->
        <!--<result property="jobStartTime" column="JOB_START_TIME"/>-->
        <!--<result property="jobEndTime" column="JOB_END_TIME"/>-->
        <!--<result property="jobTime" column="JOB_TIME"/>-->
        <!--<result property="jobDescription" column="JOB_DESCRIPTION"/>-->
        <!--<result property="jobDuty" column="JOB_DUTY"/>-->
        <!--<result property="jobReq" column="JOB_REQ"/>-->
        <!--<result property="jobLocation" column="JOB_LOCATION"/>-->
        <!--<result property="jobHighlight" column="JOB_HIGHLIGHT"/>-->
        <!--<result property="jobSalary" column="JOB_SALARY"/>-->
        <!--<result property="cvReceiMail" column="CV_RECEI_MAIL"/>-->
        <!--<result property="cvNameRule" column="CV_NAME_RULE"/>-->
        <!--<result property="jobActive" column="JOB_ACTIVE"/>-->
        <!--</association>-->
    </resultMap>


    <resultMap id="getJobCollectResultMap" type="com.youthchina.domain.Qinghong.JobCollect">
        <id property="collect_id" column="COLLECT_ID"/>
        <result property="job_id" column="job_ID"/>
        <result property="job_coll_time" column="job_COLL_TIME"/>
        <result property="stu_id" column="STU_ID"/>
        <result property="is_delete" column="IS_DELETE"/>
        <result property="is_delete_time" column="IS_DELETE_TIME"/>
        <association property="job" column="JOB_ID" javaType="com.youthchina.domain.qingyang.Job"
                     resultMap="com.youthchina.dao.qingyang.JobMapper.job"/>
    </resultMap>

    <resultMap id="getCompCollectResultMap" type="com.youthchina.domain.Qinghong.CompCollect">
        <id property="collect_id" column="COLLECT_ID"/>
        <result property="company_id" column="COMPANY_ID"/>
        <result property="company_coll_time" column="COMPANY_COLL_TIME"/>
        <result property="stu_id" column="STU_ID"/>
        <result property="is_delete" column="IS_DELETE"/>
        <result property="is_delete_time" column="IS_DELETE_TIME"/>
        <association property="company" column="COMPANY_NATURE" javaType="com.youthchina.domain.qingyang.Company"
                     resultMap="com.youthchina.dao.qingyang.CompanyMapper.company"/>
        <!--<association property="company" javaType="com.youthchina.domain.qingyang.Company">-->
        <!--<id property="companyId" column="COMPANY_ID"/>-->
        <!--<result property="companyName" column="COMPANY_NAME"/>-->
        <!--<result property="companyCode" column="COMPANY_CODE"/>-->
        <!--<result property="companyCountry" column="COMPANY_COUNTRY"/>-->
        <!--<result property="companyIntroduc" column="COMPANY_INTRODUC"/>-->
        <!--<result property="companyScaleNum" column="COMPANY_SCALE_NUM"/>-->
        <!--<result property="companyNature" column="COMPANY_NATURE"/>-->
        <!--<result property="companyLocation" column="COMPANY_LOCATION"/>-->
        <!--<result property="companyMail" column="COMPANY_MAIL"/>-->
        <!--<result property="companyWebsite" column="COMPANY_WEBSITE"/>-->
        <!--<result property="companyStartDate" column="COMPANY_START_DATE"/>-->
        <!--<result property="companyLogo" column="COMPANY_LOGO"/>-->
        <!--<result property="companyVerify" column="COMPANY_VERIFY"/>-->
        <!--<result property="userId" column="USER_ID"/>-->
        <!--<result property="isDelete" column="IS_DELETE"/>-->
        <!--<result property="isDeleteTime" column="IS_DELETE_TIME"/>-->
        <!--</association>-->

    </resultMap>

    <resultMap id="getLocation" type="com.youthchina.domain.Qinghong.Location">
        <id property="region_num" column="REGION_NUM"/>
        <result property="region_chn" column="REGION_CHN"/>
        <result property="region_eng" column="REGION_ENG"/>
        <result property="region_level" column="REGION_LEVEL"/>
        <result property="region_parent_num" column="REGION_PARENT_NUM"/>
        <result property="start_time" column="START_TIME"/>
        <result property="is_delete" column="IS_DELETE"/>
        <result property="is_delete_time" column="IS_DELETE_TIME"/>
    </resultMap>
    <resultMap id="getEduId" type="com.youthchina.domain.Qinghong.Location">
        <id property="region_num" column="EDU_SCHOOL_LOCATION"/>
    </resultMap>
    <resultMap id="getWorkId" type="com.youthchina.domain.Qinghong.Location">
        <id property="region_num" column="WORK_LOCATION"/>
    </resultMap>
    <resultMap id="getDegree" type="com.youthchina.domain.qingyang.Degree">
        <id property="degreeNum" column="DEGREE_NUM"/>
        <result property="degreeChn" column="DEGREE_CHN"/>
        <result property="degreeEng" column="DEGREE_ENG"/>
        <result property="startDate" column="START_DATE"/>
    </resultMap>
    <resultMap id="getUniversity" type="com.youthchina.domain.Qinghong.University">
        <id property="univers_id" column="UNIVERS_ID"/>
        <result property="univers_name" column="UNIVERS_NAME"/>
        <result property="country" column="COUNTRY"/>
    </resultMap>
    <resultMap id="getCountry" type="com.youthchina.domain.qingyang.Country">
        <id property="countryAbbre" column="COUNTRY_ABBRE"/>
        <result property="countryChn" column="COUNTRY_CHN"/>
        <result property="countryEng" column="COUNTRY_ENG"/>
        <result property="startTime" column="START_TIME"/>

    </resultMap>

    <resultMap id="educationResultMap" type="com.youthchina.domain.Qinghong.EducationInfo">
        <id property="edu_id" column="EDU_ID"/>
        <result property="edu_major" column="EDU_MAJOR"/>
        <result property="edu_college" column="EDU_COLLEGE"/>
        <result property="edu_gpa" column="EDU_GPA"/>
        <result property="edu_start" column="EDU_START"/>
        <result property="edu_end" column="EDU_END"/>
        <result property="stu_id" column="STU_ID"/>
        <result property="is_delete" column="IS_DELETE"/>
        <result property="is_delete_time" column="IS_DELETE_TIME"/>
        <association property="degree" column="DEGREE" javaType="com.youthchina.domain.qingyang.Degree"
                     resultMap="getDegree"/>
        <association property="university" column="EDU_SCHOOL_ID" javaType="com.youthchina.domain.Qinghong.University"
                     resultMap="getUniversity"/>

    </resultMap>
    <resultMap id="WorkResultMap" type="com.youthchina.domain.Qinghong.Work">
        <id property="work_id" column="WORK_ID"/>
        <result property="work_company" column="WORK_COMPANY"/>
        <result property="work_position" column="WORK_POSITION"/>
        <result property="work_sector" column="WORK_SECTOR"/>
        <result property="work_start_time" column="WORK_START_TIME"/>
        <result property="work_end_time" column="WORK_END_TIME"/>
        <result property="work_duty" column="WORK_DUTY"/>
        <result property="work_nature" column="WORK_NATURE"/>
        <association property="location" column="WORK_LOCATION" javaType="com.youthchina.domain.Qinghong.Location"
                     resultMap="getWorkId"/>

    </resultMap>
    <resultMap id="ProjectResultMap" type="com.youthchina.domain.Qinghong.Project">
        <id property="proj_id" column="PROJ_ID"/>
        <result property="proj_institute" column="PROJ_INSTITUTE"/>
        <result property="proj_name" column="PROJ_NAME"/>
        <result property="proj_role" column="PROJ_ROLE"/>
        <result property="proj_start_time" column="PROJ_START_TIME"/>
        <result property="proj_end_time" column="PROJ_END_TIME"/>
        <result property="proj_deliver" column="PROJ_DELIVER"/>
        <result property="deliver_publish" column="DELIVER_PUBLISH"/>
        <result property="deliver_pub_insti" column="DELIVER_PUB_INSTI"/>
        <result property="stu_id" column="STU_ID"/>
        <result property="is_delete" column="IS_DELETE"/>
        <result property="is_delete_time" column="IS_DELETE_TIME"/>
        <association property="insti_country" column="INSTI_COUNTRY" javaType="com.youthchina.domain.qingyang.Country"
                     resultMap="getCountry"/>

    </resultMap>
    <resultMap id="CertificateResultMap" type="com.youthchina.domain.Qinghong.Certificate">
        <id property="certificate_id" column="CERTIFICATE_ID"/>
        <result property="certificate_name" column="CERTIFICATE_NAME"/>
        <result property="certificate_insti" column="CERTIFICATE_INSTI"/>
        <result property="certificate_grant_date" column="CERTIFICATE_GRANT_DATE"/>
        <result property="certificate_expir_date" column="CERTIFICATE_EXPIR_DATE"/>
        <result property="docu_local_id" column="DOCU_LOCAL_ID"/>
        <result property="stu_id" column="STU_ID"/>
        <result property="is_delete" column="IS_DELETE"/>
        <result property="is_delete_time" column="IS_DELETE_TIME"/>
        <association property="insti_country" column="INSTI_COUNTRY" javaType="com.youthchina.domain.qingyang.Country"
                     resultMap="getCountry"/>

    </resultMap>
    <resultMap id="ActivityResultMap" type="com.youthchina.domain.Qinghong.Activity">
        <id property="act_id" column="ACT_ID"/>
        <result property="act_name" column="ACT_NAME"/>
        <result property="act_organization" column="ACT_ORGANIZATION"/>
        <result property="act_role" column="ACT_ROLE"/>
        <result property="act_start_time" column="ACT_START_TIME"/>
        <result property="act_end_time" column="ACT_END_TIME"/>
        <result property="act_detail" column="ACT_DETAIL"/>
        <result property="stu_id" column="STU_ID"/>
        <result property="is_delete" column="IS_DELETE"/>
        <result property="is_delete_time" column="IS_DELETE_TIME"/>
        <association property="org_country" column="ORG_COUNTRY" javaType="com.youthchina.domain.qingyang.Country"
                     resultMap="getCountry"/>

    </resultMap>
    <!--&lt;!&ndash;获取地区信息字典表&ndash;&gt;-->
    <!--<select id="getLocation" resultType="com.youthchina.domain.Qinghong.Location">-->
    <!--SELECT a.* OR b.*-->
    <!--FROM SYS_CHN_REGION a,SYS_USA_REGION b-->
    <!--WHERE (a.REGION_NUM=#{region.num} AND a.is_delete=0) OR (b.REGION_NUM=#{region.num} AND b.is_delete=0)-->
    <!--</select>-->

    <!--获取用户所有基本信息-->
    <select id="getUserInfo" resultType="com.youthchina.domain.Qinghong.UserInfo">
        select *
        from SYS_USER
        where USER_ID=#{user_id}
    </select>

    <!--通过user_id获取stu_id-->
    <select id="getBaseInfo" resultType="com.youthchina.domain.Qinghong.BaseInfo">
        SELECT *
        FROM STU_INFO
        WHERE USER_ID=#{user_id} AND IS_DELETE=0
    </select>

    <!--获取申请者的信息-->
    <select id="getStudentInfo" resultMap="studentResultMap">
        select a.*,b.*,p.*,u.*,g.*,m.*,d.*,n.*,e.*,f.*,i.*,c.*,o.*
        from SYS_USER a
        LEFT JOIN STU_EDU_INFO b ON a.USER_ID=b.STU_ID AND b.IS_DELETE=0
        LEFT JOIN SYS_DEGREE p ON b.EDU_DEGREE=p.DEGREE_NUM
        LEFT JOIN country_university u ON b.EDU_SCHOOL_ID=u.UNIVERS_ID
        LEFT JOIN STU_CERTIFICATE g ON a.USER_ID=g.STU_ID AND g.IS_DELETE=0
        LEFT JOIN SYS_COUNTRY m ON g.INSTI_COUNTRY=m.COUNTRY_ABBRE AND m.IS_DELETE=0
        LEFT JOIN STU_PROJECT d ON a.USER_ID=d.STU_ID AND d.IS_DELETE=0
        LEFT JOIN SYS_COUNTRY n ON d.INSTI_COUNTRY=n.COUNTRY_ABBRE AND n.IS_DELETE=0
        LEFT JOIN STU_WORK e ON a.USER_ID=e.STU_ID AND e.IS_DELETE=0
        LEFT JOIN STU_ACTIVITY f ON a.USER_ID=f.STU_ID AND f.IS_DELETE=0
        LEFT JOIN SYS_COUNTRY i ON f.ORG_COUNTRY=i.COUNTRY_ABBRE AND i.IS_DELETE=0
        LEFT JOIN STU_SUB_INFO c ON a.USER_ID=c.STU_ID AND c.IS_DELETE=0
        LEFT JOIN STU_ADVAN_LABEL h ON a.USER_ID=h.STU_ID AND h.IS_DELETE=0
        LEFT JOIN SYS_ADVAN_LABEL_CLASS o ON o.LABEL_CODE=h.LABEL_CODE AND o.IS_DELETE=0
        WHERE a.USER_ID=#{id} AND a.IS_DELETE=0
    </select>

    <!--获取申请者的项目信息-->
    <select id="getProjects" resultType="com.youthchina.domain.Qinghong.Project">
        SELECT b.*
        FROM STU_PROJECT b
        WHERE b.STU_ID=#{user_id}  AND b.IS_DELETE=0
    </select>

    <!--获取某个项目信息-->
    <select id="getProjectById" resultMap="ProjectResultMap">
        SELECT b.*
        FROM STU_PROJECT b
        LEFT JOIN SYS_COUNTRY n ON b.INSTI_COUNTRY=n.COUNTRY_ABBRE AND n.IS_DELETE=0
        WHERE b.PROJ_ID=#{proj_id}  AND b.IS_DELETE=0
    </select>

    <!--获取申请者的教育信息-->
    <select id="getEducations" resultType="com.youthchina.domain.Qinghong.EducationInfo">
        SELECT b.*
        FROM STU_EDU_INFO b
        WHERE b.STU_ID=#{user_id} AND b.IS_DELETE=0
    </select>

    <!--获取某个教育信息-->
    <select id="getEducationById" resultMap="educationResultMap">
        SELECT b.*,p.*,u.*
        FROM STU_EDU_INFO b
        LEFT JOIN SYS_DEGREE p ON b.EDU_DEGREE=p.DEGREE_NUM
        LEFT JOIN country_university u ON b.EDU_SCHOOL_ID=u.UNIVERS_ID
        WHERE b.EDU_ID=#{edu_id} AND b.IS_DELETE=0
    </select>

    <!--获取申请者的工作经历信息-->
    <select id="getWorks" resultType="com.youthchina.domain.Qinghong.Work">
        SELECT b.*
        FROM STU_WORK b
        WHERE b.STU_ID=#{user_id} AND b.IS_DELETE=0
    </select>

    <!--获取某个工作经历信息-->
    <select id="getWorkById" resultMap="WorkResultMap">
        SELECT b.*
        FROM STU_WORK b
        WHERE b.WORK_ID=#{work_id} AND b.IS_DELETE=0
    </select>

    <!--获取申请者的认证信息-->
    <select id="getCertificates" resultType="com.youthchina.domain.Qinghong.Certificate">
        SELECT b.*
        FROM STU_CERTIFICATE b
        WHERE b.STU_ID=#{user_id} AND b.IS_DELETE=0
    </select>

    <!--获取某个认证信息-->
    <select id="getCertificateById" resultMap="CertificateResultMap">
        SELECT b.*
        FROM STU_CERTIFICATE b
        LEFT JOIN SYS_COUNTRY m ON b.INSTI_COUNTRY=m.COUNTRY_ABBRE AND m.IS_DELETE=0
        WHERE b.CERTIFICATE_ID=#{certificate_id} AND b.IS_DELETE=0
    </select>

    <!--获取申请者的活动信息-->
    <select id="getActivities" resultType="com.youthchina.domain.Qinghong.Activity">
        SELECT b.*
        FROM STU_ACTIVITY b
        WHERE b.STU_ID=#{user_id} AND b.IS_DELETE=0
    </select>

    <!--获取某个活动信息-->
    <select id="getActivityById" resultMap="ActivityResultMap">
        SELECT b.*
        FROM STU_ACTIVITY b
        LEFT JOIN SYS_COUNTRY i ON b.ORG_COUNTRY=i.COUNTRY_ABBRE AND i.IS_DELETE=0
        WHERE b.ACT_ID=#{act_id} AND b.IS_DELETE=0
    </select>


    <!--获取申请者的所有申请职位信息-->
    <select id="getJobApplies" resultMap="ApplyMapper">
        SELECT a.*,
        <include refid="com.youthchina.dao.qingyang.JobMapper.jobSelect"/>
        FROM STU_JOB_APPLY a
        LEFT JOIN JOB_INFO j ON a.JOB_ID=j.JOB_ID
        <include refid="com.youthchina.dao.qingyang.JobMapper.jobJoin"/>

        WHERE a.STU_ID=#{stu_id}
    </select>


    <select id="getOneJobApply" resultMap="ApplyMapper">

        SELECT a.*,
        <include refid="com.youthchina.dao.qingyang.JobMapper.jobSelect"/>
        FROM STU_JOB_APPLY a
        LEFT JOIN JOB_INFO j ON a.JOB_ID=j.JOB_ID
        <include refid="com.youthchina.dao.qingyang.JobMapper.jobJoin"/>

        WHERE a.JOB_ID=#{param1} AND a.STU_ID=#{param2}
    </select>

    <!--申请职位-->
    <insert id="addApply" useGeneratedKeys="true" keyProperty="apply_id">
        insert into STU_JOB_APPLY
                (JOB_CV_SEND,JOB_APPLY_TIME,JOB_APPLY_STATUS,STU_ID,JOB_ID)
        values
               (#{job_cv_send},NOW(),#{job_apply_status},#{stu_id},#{job_id})
    </insert>


    <!--获得所有的职位收藏信息-->
    <select id="getJobCollects" resultMap="getJobCollectResultMap">
        SELECT a.*,
        <include refid="com.youthchina.dao.qingyang.JobMapper.jobSelect"/>
        FROM STU_INFO c,
        STU_JOB_COLLECT a LEFT JOIN JOB_INFO j ON a.JOB_ID=j.JOB_ID AND j.IS_DELETE=0
        <include refid="com.youthchina.dao.qingyang.JobMapper.jobJoin"/>

        WHERE c.USER_ID=#{user_id} AND c.STU_ID=a.STU_ID AND c.IS_DELETE=0 AND a.IS_DELETE=0
    </select>

    <!--获取所有的公司收藏信息-->
    <select id="getCompCollects" resultMap="getCompCollectResultMap">
        SELECT a.*,
        <include refid="com.youthchina.dao.qingyang.CompanyMapper.companySelect"/>
        FROM STU_INFO c, STU_COMP_COLLECT a
        LEFT JOIN COMPANY_INFO com ON a.COMPANY_ID=com.COMPANY_ID AND com.IS_DELETE=0
        <include refid="com.youthchina.dao.qingyang.CompanyMapper.companyJoin"/>

        WHERE c.USER_ID=#{user_id} AND c.STU_ID=a.STU_ID AND c.IS_DELETE=0 AND a.IS_DELETE=0
    </select>

    <!--获取一个职位收藏-->
    <select id="getOneJobCollect" resultType="com.youthchina.domain.Qinghong.JobCollect">
        SELECT a.*
        FROM STU_JOB_COLLECT a
        WHERE a.JOB_ID=#{job_id} AND a.IS_DELETE=0;
    </select>

    <select id="getDegreeNum" resultType="com.youthchina.domain.qingyang.Degree">
        SELECT *
        FROM SYS_DEGREE
        WHERE DEGREE_CHN=#{degreeChn}
    </select>

    <!--添加一个职位收藏-->
    <insert id="addJobCollect" parameterType="com.youthchina.domain.Qinghong.JobCollect" useGeneratedKeys="true"
            keyProperty="collect_id">
        INSERT INTO STU_JOB_COLLECT
        (JOB_ID,JOB_COLL_TIME,STU_ID,IS_DELETE,IS_DELETE_TIME)
        VALUES
        (#{job_id},NOW(),#{stu_id},0,NULL)
    </insert>

    <insert id="addCompCollect" parameterType="com.youthchina.domain.Qinghong.CompCollect" useGeneratedKeys="true"
            keyProperty="collect_id">
        INSERT INTO STU_COMP_COLLECT
        (COMPANY_ID,COMPANY_COLL_TIME,STU_ID,IS_DELETE,IS_DELETE_TIME)
        VALUES
        (#{company_id},NOW(),#{stu_id},0,NULL)
    </insert>


    <!--删除应聘者信息-->
    <update id="deleteStuInfo">
        update STU_INFO set
                            IS_DELETE=1, IS_DELETE_TIME=NOW()
        WHERE STU_ID=#{stu_id}
    </update>

    <!--删除应聘者教育信息-->
    <update id="deleteEduInfo">
        update STU_EDU_INFO set
                                IS_DELETE=1, IS_DELETE_TIME=NOW()
        WHERE EDU_ID=#{edu_id}
    </update>

    <!--删除所有的教育信息-->

    <update id="deleteAllEduInfo">
        update STU_EDU_INFO set
                                IS_DELETE=1, IS_DELETE_TIME=NOW()
        WHERE STU_ID=#{stu_id}
    </update>

    <!--删除应聘者附加信息-->
    <update id="deleteSubInfo">
        update STU_INFO set
                            IS_DELETE=1, IS_DELETE_TIME=NOW()
        WHERE SUB_ID=#{sub_id}
    </update>

    <!--删除应聘者项目信息-->
    <update id="deleteProject">
        update STU_PROJECT set
                               IS_DELETE=1, IS_DELETE_TIME=NOW()
        WHERE PROJ_ID=#{proj_id}
    </update>

    <!--删除所有的项目信息-->
    <update id="deleteAllProject">
        update STU_PROJECT set
                               IS_DELETE=1, IS_DELETE_TIME=NOW()
        WHERE STU_ID=#{stu_id}
    </update>


    <!--删除应聘者工作经验-->
    <update id="deleteWork">
        update STU_WORK set
                            IS_DELETE=1, IS_DELETE_TIME=NOW()
        WHERE WORK_ID=#{work_id}
    </update>

    <!--删除所有的工作信息-->

    <update id="deleteAllWork">
        update STU_WORK set
                            IS_DELETE=1, IS_DELETE_TIME=NOW()
        WHERE STU_ID=#{stu_id}
    </update>

    <!--删除应聘者活动信息-->
    <update id="deleteActivity">
        update STU_ACTIVITY set
                                IS_DELETE=1, IS_DELETE_TIME=NOW()
        WHERE ACT_ID=#{act_id}
    </update>

    <!--删除所有的活动信息-->
    <update id="deleteAllActivity">
        update STU_ACTIVITY set
                                IS_DELETE=1, IS_DELETE_TIME=NOW()
        WHERE STU_ID=#{stu_id}
    </update>


    <!--删除应聘者技术证书-->
    <update id="deleteCertificate">
        UPDATE STU_CERTIFICATE set
        IS_DELETE=1, IS_DELETE_TIME=NOW()
        WHERE CERTIFICATE_ID=#{certificate_id}
    </update>

    <!--删除所有的证书信息-->
    <update id="deleteAllCertificate">
        UPDATE STU_CERTIFICATE set
        IS_DELETE=1, IS_DELETE_TIME=NOW()
        WHERE STU_ID=#{stu_id}
    </update>

    <!--删除应聘者优势标签-->
    <update id="deleteSkill">
        UPDATE STU_ADVAN_LABEL set
        IS_DELETE=1, IS_DELETE_TIME=NOW()
        WHERE LABEL_ID=#{label_id}
    </update>



    <!--删除所有标签表-->
    <update id="deleteAllSkills">
        UPDATE STU_ADVAN_LABEL set
        IS_DELETE=1, IS_DELETE_TIME=NOW()
        WHERE STU_ID=#{stu_id}

    </update>


    <!--删除应聘者意向职位-->
    <update id="deleteLabel">
        update STU_PREFER_PROF set
                                   IS_DELETE=1
        WHERE PRE_PROF_ID=#{pre_prof_id}
    </update>

    <!--删除应聘者意向行业表-->
    <update id="deleteIndustry">
        update STU_PREFER_INDUSTRY set
                                       IS_DELETE=1
        WHERE PRE_IND_ID=#{pre_ind_id}
    </update>

    <!--删除应聘者意向行业表-->
    <update id="deleteCity">
        update STU_PREFER_CITY set
                                   IS_DELETE=1
        WHERE PRE_CITY_ID=#{pre_city_id}
    </update>

    <!--删除应聘者薪资表-->
    <update id="deleteVideo">
        update STU_INTRODUCTION_VIDEO set
                                          IS_DELETE=1
        WHERE PRE_VIDEO_ID=#{pre_video_id}
    </update>

    <!--删除应聘者薪资表-->
    <update id="deleteSalary">
        update STU_PREFER_SALARY set
                                     IS_DELETE=1
        WHERE PRE_SALA_ID=#{pre_sala_id}
    </update>

    <!--删除职位收藏-->
    <update id="deleteJobCollect">
        update STU_JOB_COLLECT set
                                   IS_DELETE=1,IS_DELETE_TIME=NOW()
        WHERE COLLECT_ID=#{collect_id}
    </update>


    <!--删除公司收藏-->
    <update id="deleteCompCollect">
        update STU_COMP_COLLECT set
                                   IS_DELETE=1, IS_DELETE_TIME=NOW()
        WHERE COLLECT_ID=#{collect_id}
    </update>

    <!--<insert id="insertStuInfo" parameterType="com.youthchina.domain.Qinghong.BaseInfo" useGeneratedKeys="true"-->
            <!--keyProperty="STU_ID">-->
        <!--INSERT INTO STU_INFO-->
        <!--(-->
        <!--STU_IN_JOB,STU_IN_JOB_COMP,USER_ID,IS_DELETE,IS_DELETE_TIME-->

        <!--)-->
        <!--VALUES (-->
        <!--#{isInJob},#{currentCompanyName},#{id},0,NULL-->

        <!--)-->

    <!--</insert>-->

    <insert id="insertEduInfo" parameterType="com.youthchina.domain.Qinghong.EducationInfo" useGeneratedKeys="true"
            keyProperty="EDU_ID">
        INSERT INTO STU_EDU_INFO
        (
        EDU_DEGREE,EDU_SCHOOL_ID,EDU_MAJOR,EDU_COLLEGE,
        EDU_GPA,EDU_DIPLOMA_TYPE,EDU_START,EDU_END,STU_ID,IS_DELETE,IS_DELETE_TIME

        )
        VALUES (
       #{degree.degreeNum},#{university.univers_id},#{edu_major},
       #{edu_college},#{edu_gpa},1,#{edu_start},#{edu_end},#{stu_id},0,NULL
        )
    </insert>
    <insert id="insertStuLabel" parameterType="com.youthchina.domain.Qinghong.AdvantageLabel">
        INSERT INTO STU_ADVAN_LABEL
        (LABEL_CODE,STU_ID,IS_DELETE,IS_DELETE_TIME)
        VALUES (
        #{label_code},#{stu_id},0,NULL
        )
    </insert>

    <insert id="insertSubInfo" parameterType="com.youthchina.domain.Qinghong.SubInfo" useGeneratedKeys="true"
            keyProperty="SUB_ID">
        INSERT INTO STU_SUB_INFO
        (
        SUB_COURSE, SUB_HONOR,  SUB_AWARD,  SUB_SKILL,  SUB_FOREIGN,  SUB_INTEREST, SUB_INTRODUCTION,
        STU_ID,IS_DELETE,IS_DELETE_TIME

        )
        VALUES (
       #{sub_course},#{sub_honor},#{sub_award},#{sub_skill},#{sub_foreign},#{sub_interest},#{sub_introduction},
       #{stu_id},0,NULL

        )
    </insert>

    <insert id="insertStuCertificate" parameterType="com.youthchina.domain.Qinghong.Certificate" useGeneratedKeys="true"
            keyProperty="CERTIFICATE_ID">
        INSERT INTO STU_CERTIFICATE
        (
        CERTIFICATE_NAME,CERTIFICATE_INSTI,INSTI_COUNTRY,CERTIFICATE_GRANT_DATE,CERTIFICATE_EXPIR_DATE,DOCU_LOCAL_ID,
        STU_ID,IS_DELETE,IS_DELETE_TIME

        )
        VALUES (
       #{certificate_name},#{certificate_insti},#{insti_country.countryAbbre},#{certificate_grant_date},#{certificate_expir_date},#{docu_local_id},
       #{stu_id},0,NULL

        )
    </insert>

    <insert id="insertStuProject" parameterType="com.youthchina.domain.Qinghong.Project" useGeneratedKeys="true"
            keyProperty="PROJ_ID">
        INSERT INTO STU_PROJECT
        (
        PROJ_INSTITUTE,INSTI_COUNTRY,PROJ_NAME,PROJ_ROLE,PROJ_START_TIME,PROJ_END_TIME,PROJ_DELIVER,DELIVER_PUBLISH,DELIVER_PUB_INSTI,
        STU_ID,IS_DELETE,IS_DELETE_TIME

        )
        VALUES (
       #{proj_institute},#{insti_country.countryAbbre},#{proj_name},#{proj_role},#{proj_start_time},#{proj_end_time},#{proj_deliver},#{deliver_publish},
       #{deliver_pub_insti},#{stu_id},0,NULL

        )
    </insert>
    <insert id="insertStuWork" parameterType="com.youthchina.domain.Qinghong.Work" useGeneratedKeys="true"
            keyProperty="WORK_ID">
        INSERT INTO STU_WORK
        (
        WORK_COMPANY,WORK_LOCATION,WORK_POSITION,WORK_SECTOR,WORK_START_TIME,WORK_END_TIME,WORK_DUTY,
        WORK_NATURE,STU_ID,IS_DELETE,IS_DELETE_TIME
        )
        VALUES (
       #{work_company},#{location.region_num},#{work_position},#{work_sector},#{work_start_time},
       #{work_end_time},#{work_duty},#{work_nature},#{stu_id},0,NULL

        )
    </insert>

    <insert id="insertStuActivity" parameterType="com.youthchina.domain.Qinghong.Activity" useGeneratedKeys="true"
            keyProperty="ACT_ID">
        INSERT INTO STU_ACTIVITY
        (
        ACT_NAME,ACT_ORGANIZATION,ORG_COUNTRY,ACT_ROLE,ACT_START_TIME,ACT_END_TIME,ACT_DETAIL,STU_ID,
        IS_DELETE,IS_DELETE_TIME
        )
        VALUES (
       #{act_name},#{act_organization},#{org_country.countryAbbre},#{act_role},#{act_start_time},#{act_end_time},
       #{act_detail},#{stu_id},0,NULL

        )
    </insert>

    <insert id="insertAdvantageSkills" parameterType="com.youthchina.domain.Qinghong.AdvantageLabel"
            useGeneratedKeys="true" keyProperty="label_id">
        INSERT INTO STU_ADVAN_LABEL
        (
        LABEL_CODE,STU_ID,IS_DELETE,IS_DELETE_TIME
        )
        VALUES (
        #{label_code},#{stu_id},0,NULL

        )
    </insert>
    <update id="updateUserInfo" parameterType="com.youthchina.domain.Qinghong.Student">
        UPDATE SYS_USER SET
        USER_PHOTO=#{avatarUrl}
        WHERE USER_ID=#{id}


    </update>

    <update id="updateEducation" parameterType="com.youthchina.domain.Qinghong.EducationInfo">
        update STU_EDU_INFO SET
        EDU_DEGREE=#{degree.degreeNum},
        EDU_SCHOOL_ID=#{university.univers_id},
        EDU_MAJOR=#{edu_major},
        EDU_START=#{edu_start},
        EDU_END=#{edu_end}
        WHERE EDU_ID=#{edu_id}
    </update>
    <update id="updateWork" parameterType="com.youthchina.domain.Qinghong.Work">
        update STU_WORK SET
        WORK_COMPANY=#{work_company},
        WORK_POSITION=#{work_position},
        WORK_START_TIME=#{work_start_time},
        WORK_END_TIME=#{work_end_time},
        WORK_LOCATION=#{location.region_num}
        WHERE WORK_ID=#{work_id}


    </update>
    <update id="updateProject" parameterType="com.youthchina.domain.Qinghong.Project">
        UPDATE STU_PROJECT SET
        PROJ_NAME=#{proj_name},
        PROJ_INSTITUTE=#{proj_institute},
        INSTI_COUNTRY=#{insti_country.countryAbbre},
        PROJ_ROLE=#{proj_role},
        PROJ_START_TIME=#{proj_start_time},
        PROJ_END_TIME=#{proj_end_time}
        WHERE PROJ_ID=#{proj_id}


    </update>
    <update id="updateActivity" parameterType="com.youthchina.domain.Qinghong.Activity">
        UPDATE STU_ACTIVITY SET
        ACT_NAME=#{act_name},
        ACT_ROLE=#{act_role},
        ACT_ORGANIZATION=#{act_organization},
        ORG_COUNTRY=#{org_country.countryAbbre},
        ACT_START_TIME=#{act_start_time},
        ACT_END_TIME=#{act_end_time}
        WHERE ACT_ID=#{act_id}
    </update>


    <update id="updateCertificate" parameterType="com.youthchina.domain.Qinghong.Certificate">
        UPDATE STU_CERTIFICATE SET
        CERTIFICATE_NAME=#{certificate_name},
        CERTIFICATE_INSTI=#{certificate_insti},
        CERTIFICATE_GRANT_DATE=#{certificate_grant_date},
        CERTIFICATE_EXPIR_DATE=#{certificate_expir_date},
        INSTI_COUNTRY=#{insti_country.countryAbbre}
        WHERE CERTIFICATE_ID=#{certificate_id}


    </update>
    <!--查询所有字典表内容-->
    <select id="getAllSkills" resultType="com.youthchina.domain.Qinghong.LabelInfo">
        SELECT *
        FROM SYS_ADVAN_LABEL_CLASS
        WHERE IS_DELETE=0
    </select>


</mapper>