<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youthchina.dao.Qinghong.InvitationMapper">
    <!--<resultMap id="InvitationResultMap" type="com.youthchina.domain.Qinghong.Invitation">-->
        <!--<id column="INVITE_ID" property="invite_id" jdbcType="INTEGER"/>-->
        <!--<result column="INVITE_TIME" property="invite_time" jdbcType="INTEGER"/>-->
        <!--<result column="INVITE_USER_ID" property="invite_user_id" jdbcType="INTEGER"/>-->
        <!--<association property="inviationMapper" javaType="com.youthchina.domain.Qinghong.InviationMapper">-->
            <!--<id column="INVITE_ID" property="invite_id" jdbcType="INTEGER"/>-->
            <!--<result column="user_id" property="USER_ID" jdbcType="INTEGER"/>-->
        <!--</association>-->

    <!--</resultMap>-->

    <!--<select id="findInvitationMapper" resultMap="InvitationResultMap">-->
        <!--SELECT t1.*, t2.*-->
        <!--FROM HR_VIDEO_INVITATION t1,-->
             <!--HR_VIDEO_INVITATION_MAPPER t2-->
        <!--WHERE t1.INVITE_ID = {#id}-->
          <!--AND t2.INVITE_ID = {#id}-->
    <!--</select>-->
</mapper>



