<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youthchina.dao.jinhao.BriefReviewMapper">
    <resultMap id="briefReview" type="com.youthchina.domain.jinhao.BriefReview">
        <id property="id" column="REVIEW_ID"/>
        <result property="time" column="REVIEW_TIME"/>
        <result property="relaType" column="RELA_TYPE"/>
        <result property="relaId" column="RELA_ID"/>
        <association property="user" javaType="com.youthchina.domain.zhongyang.User">
            <constructor>
                <idArg column="USER_ID" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            </constructor>
        </association>
    </resultMap>

    <select id="get" parameterType="java.lang.Integer" resultMap="briefReview">
        select r.* from COM_BRIEF_REVIEW r
        where r.REVIEW_ID=#{id} and r.IS_DELETE=0
    </select>

    <insert id="add" parameterType="com.youthchina.domain.jinhao.BriefReview" useGeneratedKeys="true"
            keyProperty="id">
        insert into COM_BRIEF_REVIEW(review_time, REVIEW_BODY, user_id, rela_type, rela_id)
        values (now(),#{body.textId},#{user.id},#{relaType},#{relaId})
    </insert>

    <update id="delete" parameterType="java.lang.Integer">
        update COM_BRIEF_REVIEW set IS_DELETE=1, IS_DELETE_TIME=now()
        where REVIEW_ID=#{id}
    </update>

    <update id="update" parameterType="com.youthchina.domain.jinhao.BriefReview">
        update COM_BRIEF_REVIEW set REVIEW_TIME=now(), RELA_TYPE=#{relaType}, RELA_ID=#{relaId}
        where REVIEW_ID=#{id}
    </update>

    <select id="checkIfBriefReviewExist" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select REVIEW_ID from COM_BRIEF_REVIEW where REVIEW_ID=#{id} and IS_DELETE=0
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(REVIEW_ID) from COM_BRIEF_REVIEW WHERE IS_DELETE = 0
    </select>

    <select id="getMyBriefReview" parameterType="java.lang.Integer" resultMap="briefReview">
        select * from COM_BRIEF_REVIEW where USER_ID = #{id} and IS_DELETE = 0
    </select>
</mapper>