<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youthchina.dao.jinhao.CommunityInvitationMapper">
    <insert id="add">
        insert into COM_REPLY_INVITATION(target_type, target_id, invit_user_id, invit_time, invited_user_id)
        values (#{type},#{targetId},#{invitUserId},now(),#{invitedUserID})
    </insert>
    <update id="update" parameterType="java.lang.Integer">
        update COM_REPLY_INVITATION set INVIT_ACCEPT=1
        where INVIT_ID=#{id}
    </update>
</mapper>