<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youthchina.dao.jinhao.InfluenceMapper">
    <resultMap id="personInfluencePoint" type="com.youthchina.domain.jinhao.communityQA.PersonInfluence">
        <id property="user_id" column="USER_ID"/>
        <result property="pers_profile" column="PERS_PROFILE"/>
        <result property="pers_ident_verify" column="PERS_IDENT_VERIFY"/>
        <result property="pers_university" column="PERS_UNIVERSITY"/>
        <result property="pers_work" column="PERS_WORK"/>
        <result property="pers_friend_count" column="PERS_FRIEND_COUNT"/>
        <result property="pers_friend_quality" column="PERS_FRIEND_QUALITY"/>
        <result property="pers_interaction" column="PERS_INTERACTION"/>
        <result property="pers_like_count" column="PERS_LIKE_COUNT"/>
        <result property="pers_posi_evaluate" column="PERS_POSI_EVALUATE"/>
        <association property="student" column="user_id"
                     select="com.youthchina.dao.Qinghong.ApplicantMapper.getStudentInfo"/>
        <collection property="comFriendRelations" column="user_id"
                    select="com.youthchina.dao.tianjian.CommunityMapper.getFriend"/>
    </resultMap>
    <select id="getInfluenceByUserId" resultMap="personInfluencePoint" parameterType="java.lang.Integer">
        SELECT * FROM PERSON_INFLUENCE WHERE USER_ID = #{user_id}
    </select>
</mapper>