<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youthchina.dao.jinhao.InternPageMapper">

    <!--拿到职位信息-->
    <select id="getJob" parameterType="java.lang.Integer" resultType="com.youthchina.domain.jinhao.Job">
        select * from JOB_INFO where job_id = #{job_id}
    </select>

    <!--拿到发布职位的hr信息-->
    <select id="getHR" parameterType="java.lang.Integer" resultType="com.youthchina.domain.jinhao.HR">
        select * from HR_INFO where hr_id = #{hr_id}
    </select>

    <!--拿到公司信息-->
    <select id="getCompany" parameterType="java.lang.Integer" resultType="com.youthchina.domain.jinhao.Company">
        select * from COMPANY_INFO where company_id = #{company_id}
    </select>

    <!-- 检查职位是否被收藏 -->
    <select id="isJobCollected" resultType="com.youthchina.domain.jinhao.JobCollect">
        select c.* from STU_JOB_COLLECT c, STU_JOB_COLLECT_MAP m
        where m.user_id = #{user_id}
        and c.job_id = #{job_id}
        and c.collect_id = m.collect_id
    </select>

    <!-- 检查公司是否被收藏 -->
    <select id="isCompanyCollected" resultType="com.youthchina.domain.jinhao.CompanyCollect">
        select c.* from STU_COMP_COLLECT c, STU_COM_COLLECT_MAP m
        where m.user_id = #{user_id}
          and c.company_id = #{company_id}
          and c.collect_id = m.collect_id
    </select>

    <!-- 收藏职位 -->
    <!-- 添加职位到收藏表 -->
    <insert id="collectJob" parameterType="com.youthchina.domain.jinhao.JobCollect"
            useGeneratedKeys="true" keyProperty="collect_id">
        insert into STU_JOB_COLLECT (job_id, job_coll_time)
        values (#{job_id}, #{job_coll_time})
    </insert>
    <!-- 建立职位收藏和用户的映射 -->
    <insert id="createMapBetweenJobCollectAndUser">
        insert into STU_JOB_COLLECT_MAP (collect_id, user_id)
        values (#{collect_id}, #{user_id})
    </insert>

    <!-- 收藏公司 -->
    <!-- 添加公司到公司收藏表 -->
    <insert id="collectCompany" parameterType="com.youthchina.domain.jinhao.CompanyCollect"
            useGeneratedKeys="true" keyProperty="collect_id">
        insert into STU_COMP_COLLECT (company_id, company_coll_time)
        values (#{company_id}, #{company_coll_time})
    </insert>
    <!-- 建立公司收藏和用户的映射 -->
    <insert id="createMapBetweenCompanyCollectAndUser">
        insert into STU_COM_COLLECT_MAP (collect_id, user_id)
        values (#{collect_id}, #{user_id})
    </insert>

    <!-- 取消收藏工作 -->
    <!-- 删除工作收藏表里的收藏 -->
    <delete id="cancelCollectJob" parameterType="java.lang.Integer">
        delete from STU_JOB_COLLECT where collect_id = #{collect_id}
    </delete>
    <!-- 删除映射表里的收藏 -->
    <delete id="deleteMapBetweenJobCollectAndUser" parameterType="java.lang.Integer">
        delete from STU_JOB_COLLECT_MAP where collect_id = #{collect_id}
    </delete>

    <!-- 取消收藏公司 -->
    <!-- 删除公司收藏表里的收藏 -->
    <delete id="cancelCollectCompany" parameterType="java.lang.Integer">
        delete from STU_COMP_COLLECT where collect_id = #{collect_id}
    </delete>
    <!-- 删除映射表里的收藏 -->
    <delete id="deleteMapBetweenCompanyCollectAndUser" parameterType="java.lang.Integer">
        delete from STU_COM_COLLECT_MAP where collect_id = #{collect_id}
    </delete>
</mapper>
