<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youthchina.dao.jinhao.JobRecommendMapper">
    <select id="getList" parameterType="java.lang.Integer" resultType="com.youthchina.domain.jinhao.recommend.JobRecommendation">
        select * from RECOM_PART_JOB where JOB_ID in
        <foreach item="id" index='index' collection="list" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>
    <select id="get" parameterType="java.lang.Integer" resultType="com.youthchina.domain.jinhao.recommend.JobRecommendation">
        select * from RECOM_PART_JOB where JOB_ID = #{id}
    </select>
    <insert id="add" parameterType="com.youthchina.domain.jinhao.recommend.JobRecommendation">
        insert into RECOM_PART_JOB(JOB_ID,JOB_NAME,JOB_DESCRIPTION,JOB_LOCATION,JOB_HIGHLIGHT,DATA_TIME)
        values (#{job_Id},#{job_name},#{job_description},#{job_location},#{job_highlight},#{data_time})
    </insert>
    <update id="update" parameterType="com.youthchina.domain.jinhao.recommend.JobRecommendation">
        update RECOM_PART_JOB set JOB_NAME=#{job_name},JOB_DESCRIPTION=#{job_description},
        JOB_LOCATION=#{job_location},JOB_HIGHLIGHT=#{job_highlight},DATA_TIME=#{job_time}
        where JOB_ID=#{job_Id}
    </update>
    <delete id="delete" parameterType="java.lang.Integer">
        delete from RECOM_PART_JOB where JOB_ID=#{id}
    </delete>
</mapper>