<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youthchina.dao.jinhao.RecommendMapper">
    <resultMap id="label" type="com.youthchina.domain.jinhao.Label">
        <id property="labelId" column="LABEL_ID"/>
        <result property="labelCode" column="LABEL_CODE"/>
        <result property="labelEng" column="LABEL_ENG"/>
        <result property="labelChn" column="LABEL_CHN"/>
    </resultMap>
    <insert id="addTag">
        insert into SYS_LABEL_MAP (lab_code, target_id, target_type, rela_time)
        values (#{labelCode}, #{targetId}, #{targetType}, now())
    </insert>
    <select id="isTagExist" resultType="java.lang.String">
        select LAB_CODE
        from SYS_LABEL_MAP
        where LAB_CODE = #{labelCode}
          and TARGET_ID = #{targetId}
          and TARGET_TYPE = #{targetType}
        LIMIT 1
    </select>
    <delete id="deleteTag">
        delete
        from SYS_LABEL_MAP
        where LAB_CODE = #{labelCode}
          and TARGET_ID = #{targetId}
          and TARGET_TYPE = #{targetType}
    </delete>
    <select id="getUserLabel" parameterType="java.lang.Integer" resultType="java.lang.String">
        select LAB_CODE
        from SYS_LABEL_MAP
        where TARGET_TYPE = 100
          and TARGET_ID = #{userId}
    </select>
    <select id="getRecommendQuestion" resultType="java.lang.Integer">
        select TARGET_ID from SYS_LABEL_MAP
        where LAB_CODE in
        <foreach collection="list" item="labelCode" index="index" open="(" close=")" separator=",">
            #{labelCode}
        </foreach>
        and TARGET_TYPE = 1
        AND TARGET_ID IN (
          SELECT DISTINCT(QUES_ID)
          FROM COM_QUESTION
          WHERE COM_QUESTION.IS_DELETE = 0
        )
    </select>
    <select id="getRecommendEassy" resultType="java.lang.Integer">
        select TARGET_ID from SYS_LABEL_MAP where LAB_CODE in
        <foreach collection="list" item="labelCode" index="index" open="(" close=")" separator=",">
            #{labelCode}
        </foreach>
        and TARGET_TYPE = 2
        AND TARGET_ID IN (
            SELECT distinct(ESSAY_ID)
            FROM COM_ESSAY
            WHERE COM_ESSAY.IS_DELETE = 0
        )
    </select>
    <select id="getRecommendBriefReview" resultType="java.lang.Integer">
        select TARGET_ID from SYS_LABEL_MAP where LAB_CODE in
        <foreach collection="list" item="labelCode" index="index" open="(" close=")" separator=",">
            #{labelCode}
        </foreach>
        and TARGET_TYPE = 3
        AND TARGET_ID IN (
            SELECT distinct(REVIEW_ID)
            FROM COM_BRIEF_REVIEW
            WHERE COM_BRIEF_REVIEW.IS_DELETE = 0
        )
    </select>
    <select id="getRecommendJob" resultType="java.lang.Integer">
        select TARGET_ID from SYS_LABEL_MAP where LAB_CODE in
        <foreach collection="list" item="labelCode" index="index" open="(" close=")" separator=",">
            #{labelCode}
        </foreach>
        and TARGET_TYPE = 300
        AND TARGET_ID IN (
            SELECT distinct(JOB_ID)
            FROM JOB_INFO
            WHERE JOB_INFO.IS_DELETE = 0
        )
    </select>
    <select id="getRecommendCompany" resultType="java.lang.Integer">
        select TARGET_ID from SYS_LABEL_MAP where LAB_CODE in
        <foreach collection="list" item="labelCode" index="index" open="(" close=")" separator=",">
            #{labelCode}
        </foreach>
        and TARGET_TYPE = 200
        AND TARGET_ID IN(
            SELECT distinct(COMPANY_ID)
            FROM COMPANY_INFO
            WHERE COMPANY_INFO.IS_DELETE = 0
        )
    </select>
    <select id="getRecommendUser" resultType="java.lang.Integer">
        select TARGET_ID from SYS_LABEL_MAP where LAB_CODE in
        <foreach collection="list" item="labelCode" index="index" open="(" close=")" separator=",">
            #{labelCode}
        </foreach>
        and TARGET_TYPE = 100
        AND TARGET_ID IN(
            SELECT distinct(USER_ID)
            FROM SYS_USER
            WHERE SYS_USER.IS_DELETE = 0
        )
    </select>
    <select id="getLabel" resultMap="label">
        select * from SYS_LABEL where LABEL_CODE in
        <foreach collection="list" item="labelCode" index="index" open="(" close=")" separator=",">
            #{labelCode}
        </foreach>
        and IS_DELETE = 0
    </select>
    <select id="getLabelCode" resultType="java.lang.String">
        select LAB_CODE
        from SYS_LABEL_MAP
        where TARGET_TYPE = #{targetType}
          and TARGET_ID = #{targetId}
    </select>
</mapper>