<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youthchina.dao.Hongsheng.NotificationMapper">
    <resultMap id="notification" type="com.youthchina.domain.Hongsheng.Notification">
        <id property="id" column="NOTIFY_ID"/>
        <result property="content" column="NOTIFY_CONTENT"/>
        <result property="notifyTime" column="NOTIFY_TIME"/>
        <result property="isRead" column="NOTIFY_READ"/>
        <association property="user" javaType="com.youthchina.domain.zhongyang.User">
            <constructor>
                <idArg column="USER_ID" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            </constructor>
        </association>
    </resultMap>

    <select id="get" parameterType="java.lang.Integer" resultMap="notification">
        select a.* from SYS_NOTIFICATION a
        where a.NOTIFY_ID = #{id}
    </select>

    <insert id="add" parameterType="com.youthchina.domain.Hongsheng.Notification" useGeneratedKeys="true"
            keyProperty="id">
        insert into SYS_NOTIFICATION(notify_content, notify_time, user_id, notify_read)
        values (#{content},#{notifyTime},#{user.id},#{isRead})
    </insert>

    <update id="update" parameterType="com.youthchina.domain.Hongsheng.Notification">
        update SYS_NOTIFICATION set NOTIFY_CONTENT=#{content}, NOTIFY_TIME=now(), NOTIFY_READ=#{isRead}
        where NOTIFY_ID=#{id}
    </update>

    <select id="checkIfNotificationExist" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select NOTIFY_ID from SYS_NOTIFICATION where NOTIFY_ID = #{id}
    </select>

</mapper>